<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>등급등록 페이지</title>
    <link rel="stylesheet" href="/static/css/admin/adminStyle.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div id="layoutSidenav">
    <th:block th:include="admin/fragments/adminHeader"/>
    <th:block th:include="admin/fragments/adminNavigationBar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <form class="form" method="post" action="/admin/tiers">
                        <label>회원 등급 수정</label>
                    <input type="hidden" name="_method", value="PUT">
                    <input name="tierNo" type="text" th:value="${tier.tierNo}" hidden="hidden" required>
                    <input name="tierName" type="text"  placeholder="등급명을 기입해주세요" required>
                    <input type="submit" class="btn-primary" value="REGISTER">
                </form>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/admin/scripts.js"></script>
</html>