<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BookPub</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <link href="/static/css/review/star.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"></script>

    <style>
        .cursor {
            cursor: pointer;
        }

        .product-detail-price {
            color: #ff6666;
            font-size: 20px;
        }

        .product-badge {
            background-color: #FFB437;
            border: solid;
            border-color: #F89B00;
            color: black;
        }

        .product-info-head {
            text-align: center;
            font-size: 18px;
            background-color: #ebebeb;
        }

        .product-info-body {
            padding-left: 3%;
            font-size: 18px;
        }

        /* 기본 구조 */
        .wrap {
            /*max-width:500px;*/
            margin: 50px auto;
            background: #f7f7f7;
        }

        /* 가로 스크롤 적용 */
        .scroll__wrap {
            overflow-x: auto;
            white-space: nowrap;
            font-size: 0
        }

        .scroll__wrap::-webkit-scrollbar {
            display: none;
        }

        .scroll--element {
            display: inline-block;
            width: 250px;
            /*height:300px;*/
            /*border:2px solid #222;*/
            background: #f7f7f7;
            font-size: 16px;
            /*line-height:150px;*/
            text-align: center;
            margin: 2%;
        }

        .title:hover {
            color: #D10024;
        }

    </style>

</head>
<body>
<!-- HEADER -->
<th:block th:include="main/fragments/rootHeader"></th:block>
<!-- /HEADER -->

<div class="container" style="padding-top: 3%">

    <div class="row">
        <div class="col-sm-3">
            <span class="img-thumbnail" style="width: 250px; height: 350px"
                  th:if="${#strings.isEmpty(product.getThumbnail)}">
                <img class="img_thumbnail" style="width: 100%; height: 100%; object-fit: cover;"
                     src="/static/img/main/no-image.png">
            </span>
            <span class="img-thumbnail" style="width: 250px; height: 350px"
                  th:if="${not #strings.isEmpty(product.getThumbnail)}">
                <img class="img_thumbnail" style="width: 100%; height: 100%; object-fit: cover;"
                     th:src="@{${product.getThumbnail()}}" alt="No image">
            </span>
        </div>
        <div class="col-sm-6">
            <div class="row mb-3" style="display: none">
                <p id="productNo" th:text="${product.productNo}"></p>
            </div>


            <div class="row mb-3">
                <label class="col-sm-3">제목</label>
                <div class="col-sm-9" th:text="${product.title}"></div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3">저자</label>
                <div class="col-sm-9">
                    <span th:each="author : ${product.authors}">
                        <span style="font-size: 14px" th:text="${author}"></span>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3">카테고리</label>
                <div class="col-sm-9">
                    <span th:each="category : ${product.categories}">
                        <span style="font-size: 14px" th:text="${category}"></span>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3">태그</label>
                <div class="col-sm-9">
                    <span th:each="tag: ${product.tags}">
                        <span class="badge bg-info product-badge" th:text="${tag}"></span>
                    </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3">출판사</label>
                <div class="col-sm-9">
                    <span th:text="${product.productPublisher}"></span>
                </div>
            </div>

            <div class="row" mb-3>
                <label class="col-sm-3">출판일</label>
                <div class="col-sm-9">
                    <span th:text="${#temporals.format(product.publishDate, 'yyyy년 MM월 dd일')}"></span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3">리뷰</label>
                <div class="col-sm-9">
                    <div class="star-ratings" style="display: inline-block">
                        <div class="star-ratings-fill space-x-2 text-lg"
                             th:with="percent=${reviewInfo.productStar} * 20"
                             th:style="'width: ' + ${percent} +'%'">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                        <div class="star-ratings-base space-x-2 text-lg">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                        </div>
                    </div>
                    <i style="font-size: 18px"
                       th:text="${reviewInfo.productStar} + '(' + ${reviewInfo.reviewCount} + '개)' "></i>
                </div>
            </div>

            <hr/>

            <div class="row mb-3">
                <label class="col-sm-3">정가</label>
                <del class="col-sm-9 product-old-price"
                     th:text="|${#numbers.formatInteger(product.productPrice, 0, 'COMMA')}원|">
                </del>
            </div>

            <div class="row mb-4">
                <label class="col-sm-3">판매가</label>
                <div class="col-sm-7" style="display: inline-block">
                    <span style="font-size: 20px; white-space: nowrap"
                          th:text="|${#numbers.formatInteger(product.salesPrice, 0, 'COMMA')}원|"></span>
                    <span style="font-size: 14px; color: #ef0d0d" th:text="'(' + ${product.salesRate} + '% 할인)'"></span>
                </div>

            </div>

            <div class="row mb-3">
                <label class="col-sm-3">포인트</label>
                <div class="col-sm-9">
                    <div th:if="${product.policySaved}">
                        <span th:text="${product.policyMethod} +'의 ' + ${product.policySaveRate} + '% 적립'"></span>
                    </div>
                    <div th:unless="${product.policySaved}">
                        <span style="color: red">포인트 적립 X</span>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row mb-3">
                <label class="col-sm-3">배송비</label>
                <div class="col-sm-9">
                    <p th:text="${deliveryFee} + '원'"></p>
                    <i><span th:text="${free} + '원 이상 주문시 무료'" style="font-size: 12px"></span></i>
                </div>
            </div>

        </div>

        <div class="col-sm-3">
            <div class="row text-center">
                <button class="btn btn-primary" th:onclick="cart([[${#authentication.getPrincipal()}]], [[${product}]])"
                        style="width: 60%; float: right">장바구니 담기
                </button>
            </div>

            <hr/>

            <div class="row text-center">
                <button class="btn btn-info" th:onclick="direct_order([[${#authentication.getPrincipal()}]], [[${product}]])" style="width: 60%; float: right">바로 주문</button>
            </div>

            <hr/>

            <div class="row text-center">
                <button class="btn" onclick="putWishlist()"
                        style="width: 60%; float: right; background-color: #ffa8a8; color: white">
                    위시리스트 담기
                </button>
            </div>

            <p th:text="${product.saleStateCodeCategory}" style="display: none" id="productSaleState"></p>
            <div th:if="${product.saleStateCodeCategory} != '판매중'">
                <br/>
                <div style="text-align: right">
                    <img src="/static/img/main/sold_out.png" alt="">
                    <p>현재 이 상품은<strong> <u>품절</u></strong>입니다.</p>

                </div>
            </div>
        </div>

    </div>

    <hr/>

    <div th:if="${product.info.size() != 0}">

        <div class="row">
            <h2>연관 상품</h2>
            <hr/>

            <div class="wrap-vertical" style="width: 95%; background-color: #f7f7f7; margin: auto">
                <div class="wrap">
                    <div class="scroll__wrap">
                        <div class="scroll--element" th:each="relation: ${product.info}">
                            <div class="panel" style="background-color: #f7f7f7">
                                <img class="cursor" th:src="${relation.filePath}"
                                     style="object-fit: cover; width: 140px; height: 200px" alt=""
                                     onerror="this.src=null; this.src='/static/image.review/no-image.png';"
                                     th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${relation.productNo})} + '\''">
                                <hr>
                                <strong class="cursor title"
                                        th:text="${relation.title}"
                                        th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${relation.productNo})} + '\''">

                                </strong>
                                <p th:text="|${#numbers.formatInteger(relation.salesPrice, 0, 'COMMA')}원|"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
    </div>

    <div class="row">
        <div>
            <h2 style="padding-bottom: 2%">책 정보</h2>

            <table style="width: 80%;" class="table table-bordered">
                <colgroup>
                    <col width="170">
                    <col width="*">
                </colgroup>
                <tbody>
                <tr style="border: 1px">
                    <th class="product-info-head">발행일</th>
                    <td th:text="${#temporals.format(product.publishDate, 'yyyy년 MM월 dd일')}"
                        class="product-info-body"></td>
                </tr>

                <tr>
                    <th class="product-info-head">페이지 수</th>
                    <td th:text="${product.pageCount} +'쪽'" class="product-info-body"></td>
                </tr>

                <tr>
                    <th class="product-info-head">ISBN</th>
                    <td th:text="${product.productIsbn}" class="product-info-body"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <hr/>

    <div class="row">
        <div>
            <h2 style="padding-bottom: 2%">책 설명</h2>
            <span style="width: 100%; height: 500px; " th:if="${not #strings.isEmpty(product.getDetail())}">
                <img style="width: 100%; height: 100%; object-fit: cover;" th:src="@{${product.getDetail()}}"
                     alt="No image">
            </span>

            <div id="viewer"></div>
        </div>

    </div>

    <hr/>


    <!-- 리뷰 -->

    <div>
        <h3>리뷰</h3>
        <br/>
        <div style="background-color: whitesmoke; margin: 0 auto; display: flex; padding: 10px" class="row">
            <div style="text-align: center; display: inline-block; width: 30%">
                <span style="font-size: 18px"> 리뷰 평점</span>
                <br/>
                <div class="star-ratings" style="align-content: center; margin: auto;">
                    <div class="star-ratings-fill space-x-2 text-lg productView" id="starFill"
                         th:with="percent=${reviewInfo.productStar} * 20"
                         th:style="'width: ' + ${percent} +'%'">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                    <div class="star-ratings-base space-x-2 text-lg productView">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                    </div>
                </div>
                <b style="font-size: 25px" th:text="${reviewInfo.productStar}"></b>
                <span style="font-size: 25px; color: #B8B8B8">/</span>
                <b style="font-size: 25px; color: #B8B8B8">5</b>
            </div>
            <div class="col-8" style="display: inline-block; padding-top: 30px">
                <span style="font-size: 18px"> 리뷰 개수</span>
                <br/>
                <b style="font-size: 18px;" th:text="${reviewInfo.reviewCount}"></b>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <td>
                    <div id="test1"></div>
                    <div id="test2"></div>
                    <div id="test3"></div>
                    <div id="test4"></div>
                    <div id="test5"></div>
                    <div id="test6"></div>
                    <div id="test7"></div>
                    <div id="test8"></div>
                    <div id="test9"></div>
                    <div id="test10"></div>
                </td>
            </tr>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" id="reviewPreviousBtn">
                    <a class="page-link" id="reviewPreviousLink" onclick="reviewPrevious()">Previous</a>
                </li>
                <!--                <th:block th:with="start=${(currentPage/pageButtonNum)*pageButtonNum + 1}, end=(${(totalPages == 0) ?-->
                <!--                                 1 : (start + (pageButtonNum - 1) < totalPages ? start + (pageButtonNum - 1) : totalPages)})">-->
                <!--                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">-->
                <!--                        <a class="page-link" th:href="@{/admin/coupon/coupon-templates?(page=(${page-1}))}"-->
                <!--                           th:text="${page}"></a></li>-->
                <!--                </th:block>-->
                <li class="page-item" id="reviewNextBtn">
                    <a class="page-link" id="reviewNextLink" onclick="reviewNext()">Next</a>
                </li>
            </ul>
        </nav>
    </div>


    <hr/>

    <div>
        <h3>문의</h3>
        <br/>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 40%">문의 제목</th>
                <th>닉네임</th>
                <th>문의 날짜</th>
                <th>답변 여부</th>
            </tr>
            </thead>
            <tbody>
            <input type="hidden" th:id="myAuthorities" th:if="${member} != null"
                   th:value="${member.authorities.toString()}">
            <input type="hidden" th:id="myAuthorities" th:unless="${member} != null" th:value="null">
            <tr th:each="inquiry : ${inquiryList}">
                <td>
                    <div style="color: #0a53be; cursor:pointer; display: inline" th:text="${inquiry.inquiryTitle}"
                         th:onclick="|javascript:inquiryInfo('${inquiry.inquiryNo}', '${inquiry.memberNo}', '${memberNo}','${inquiry.inquiryDisplayed}')|"></div>
                    <img th:if="${!inquiry.inquiryDisplayed}" src="/static/img/main/inquiry_secret_key.png"
                         style="width: 13px; height: auto; display: inline">
                </td>
                <td th:text="${inquiry.memberNickname}"></td>
                <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td th:text="${inquiry.inquiryAnswered} ? '답변 완료' : '답변 미완료'"></td>
            </tr>
            </tbody>
        </table>


        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!inquiryIsPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/products/{productNo}?(productNo=${product.productNo}, inquiryPage=(${inquiryCurrentPage}-1))}">Previous</a>
                </li>
                <th:block th:with="start=${(inquiryCurrentPage/inquiryPageButtonNum)*inquiryPageButtonNum + 1}, end=(${(inquiryTotalPages == 0) ?
                                 1 : (start + (inquiryPageButtonNum - 1) < inquiryTotalPages ? start + (inquiryPageButtonNum - 1) : inquiryTotalPages)})">
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                        <a class="page-link"
                           th:href="@{/products/{productNo}?(productNo=${product.productNo}, inquiryPage=(${page-1}))}"
                           th:text="${page}"></a></li>
                </th:block>
                <li class="page-item" th:classappend="${!inquiryIsNext} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/products/{productNo}?(productNo=${product.productNo}, inquiryPage=(${inquiryCurrentPage}+1))}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- modal -->
    <div class="modal fade" id="inquiryDetail" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">문의 상세</h5>
                </div>
                <div class="modal-body">
                    <table style="width: 100%" class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td colspan="3"><span id="inquiryQuestionDisplayed"></span></td>
                        </tr>
                        <tr>
                            <td style="width: 40%">
                                문의 유형 :
                                <span id="inquiryQuestionType"></span>
                            </td>
                            <td>
                                문의자 닉네임 :
                                <span id="inquiryQuestionNickname"></span>
                            </td>
                            <td>
                                문의일자 :
                                <span id="inquiryQuestionCreatedAt"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                문의 제목
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span id="inquiryQuestionTitle"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                문의 내용
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div id="inquiryViewer"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <hr/>

                    <div id="answerTable">
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

</div>

<p id="editor-hidden" style="display: none" th:text="${product.productDescription}"></p>
<!-- FOOTER -->
<!-- /FOOTER -->

</div>
<th:block th:include="main/fragments/rootFooter"></th:block>
</body>
<!-- jQuery Plugins -->
<script src="/static/js/main/jquery.min.js"></script>
<script src="/static/js/main/bootstrap.min.js"></script>
<script src="/static/js/main/slick.min.js"></script>
<script src="/static/js/main/nouislider.min.js"></script>
<script src="/static/js/main/jquery.zoom.min.js"></script>
<script src="/static/js/main/main.js"></script>
<script src="/static/js/review/product-review.js"></script>
<script src="/static/js/inquiry/product-inquiry.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>


<script>
    const productNo = $('#productNo').text();
    const productSaleState = $('#productSaleState').text();

    function cart(member, product) {
        let isPurchaseUser = false;

        if (member !== 'anonymousUser') {
            $.ajax({
                type: "get",
                async: false,
                url: "/products/purchase/" + productNo + "/" + member,
                success: function (result) {
                    if (result === true) {
                        Swal.fire({
                            icon: 'info',
                            title: '내정보 eBook을 확인해주세요',
                            text: 'eBook 제품은 1번만 구매 가능합니다'
                        })
                        isPurchaseUser = true;
                    }
                }
            })
        }

        if (member === 'anonymousUser' && product.ebook !== null) {
            Swal.fire({
                icon: 'info',
                title: '비회원은 ebook을 구매할 수 없습니다',
                text: '로그인 후 이용해 주세요'
            })
        } else if (isPurchaseUser) {
            return false;
        } else if (productSaleState === '품절') {
            Swal.fire({
                icon: 'info',
                title: '품절된 상품입니다.',
                text: '위시리스트 등록후 알림 신청을 해보세요'
            })
        } else {
            Swal.fire({
                title: '카트에 담으시겠습니까?',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        timer: 10000,
                        icon: 'success',
                        title: '상품이 카트에 담겼습니다.',
                        text: '즐거운 쇼핑 되세요~',
                        showConfirmButton: false
                    })

                    $.ajax({
                        type: "post",
                        async: false,
                        url: "/cart",
                        data: {"productNo": productNo},
                        dataType: "json"
                    })
                }

                location.reload();
            })
        }
    }

    function direct_order(member, product) {
        let isPurchaseUser = false;

        if (member !== 'anonymousUser') {
            $.ajax({
                type: "get",
                async: false,
                url: "/products/purchase/" + productNo + "/" + member,
                success: function (result) {
                    if (result === true) {
                        Swal.fire({
                            icon: 'info',
                            title: '내정보 eBook을 확인해주세요',
                            text: 'eBook 제품은 1번만 구매 가능합니다'
                        })
                        isPurchaseUser = true;
                    }
                }
            })
        }

        if (member === 'anonymousUser' && product.ebook !== null) {
            Swal.fire({
                icon: 'info',
                title: '비회원은 ebook을 구매할 수 없습니다',
                text: '로그인 후 이용해 주세요'
            })
        } else if (isPurchaseUser) {
            return false;
        } else if (productSaleState === '품절') {
            Swal.fire({
                icon: 'info',
                title: '품절된 상품입니다.',
                text: '위시리스트 등록후 알림 신청을 해보세요'
            })
        } else {
            console.log(productNo);

            $.ajax({
                type: "post",
                url: "/cart/direct-order",
                async: true,
                data: {"productNo": productNo},
                dataType: "json",

                success: function () {
                    alert('결제하러가기')
                    window.location = '/orders/order';
                }
            })
        }
    }

    function putWishlist() {
        const memberNo = $('#memberNo').text();

        console.log(memberNo);

        if (memberNo === '-1') {
            Swal.fire({
                icon: 'warning',
                title: '위시리스트 등록은 회원만 가능!!',
                text: '로그인을 먼저 해주세요'
            })
        } else {
            Swal.fire({
                title: '좋아요에 등록하시겠습니까?',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '확인',
                cancelButtonText: '취소'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire('위시리스트에 담겼습니다.', '즐거운 쇼핑 되세요~~~~', 'success',)
                    $.ajax({
                        type: "post",
                        url: "/wishlist",
                        dataType: 'json',
                        data: {"memberNo": memberNo, "productNo": productNo}
                    })

                }
            })
        }
    }

    const viewer = toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true
    });

    let elem = document.getElementById('editor-hidden');
    viewer.setMarkdown(elem.textContent);
</script>
</html>
