<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>BookPub</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/css/admin/adminStyle.css">

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

<div id="layoutSidenav">
    <th:block th:include="admin/fragments/adminHeader"/>
    <th:block th:include="admin/fragments/adminNavigationBar"/>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <th:block th:each="tier : ${tierStatistics}">
                        <div class="col-xl-3 col-md-6">
                            <div class="card tier_statistics text-white mb-4">
                                <div class="card-body">
                                    <span th:text="${tier.tierName}"></span>
                                    <span class="float-end" th:text="${tier.tierCnt}"></span>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Area Chart Example
                            </div>
                            <div class="card-body">
                                <canvas id="myAreaChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Member statistics
                            </div>
                            <div class="card-body">
                                <canvas id="memberChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <th:block th:include="../templates/admin/fragments/adminFooter"/>

        <script th:inline="javascript">
            let randomBrightColor = () => {
                let color_r = Math.floor(Math.random() * 50 + 128).toString(16);
                let color_g = Math.floor(Math.random() * 50 + 128).toString(16);
                let color_b = Math.floor(Math.random() * 50 + 128).toString(16);
                return `#${color_r + color_g + color_b}`;
            }

            let randomChartColor = () => {
                let color_r = Math.floor(Math.random() * 127 + 128).toString(16);
                let color_g = Math.floor(Math.random() * 127 + 128).toString(16);
                let color_b = Math.floor(Math.random() * 127 + 128).toString(16);
                return `#${color_r + color_g + color_b}`;
            }

            var color;
            for (tier of document.getElementsByClassName('tier_statistics')) {
                tier.style.background = randomBrightColor();
            }

            var memberCnt = [[${memberStatistics.memberCnt}]];
            var memberCurrentCnt = [[${memberStatistics.currentMemberCnt}]];
            var memberDeleteCnt = [[${memberStatistics.deleteMemberCnt}]];
            var memberBlockCnt = [[${memberStatistics.blockMemberCnt}]];

            data = {
                datasets: [{
                    backgroundColor: [randomChartColor(), randomChartColor(), randomChartColor(), randomChartColor()],
                    data: [memberCnt, memberCurrentCnt, memberDeleteCnt, memberBlockCnt]
                }],
                // 라벨의 이름이 툴팁처럼 마우스가 근처에 오면 나타남
                labels: ['총 회원', '활동중인 회원', '탈퇴한 회원', '차단된 회원']
            };
            // 도넛형 차트
            var ctx2 = document.getElementById("memberChart");
            var myDoughnutChart = new Chart(ctx2, {
                type: 'doughnut',
                data: data,
                options: {}
            });
        </script>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/static/js/admin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/static/js/admin/chart-area-demo.js"></script>
<script src="/static/js/admin/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/static/js/admin/datatables-simple-demo.js"></script>
</body>
</html>
