<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/order/main.css">

    <script src="/static/js/order/order.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        function revert() {
            let arrow = $('#arrow');
            let option = $('#img-option');
            if (option.val() === '1') {
                option.val('2')
                arrow.css("transform", "rotate(360deg)")
            } else {
                option.val('1')
                arrow.css("transform", "rotate(180deg)")
            }
        }
    </script>
    <script>
        function myAddress() {
            var modal = document.getElementById("member_addresses");
            modal.style.display = "flex"
        }
    </script>
</head>
<body>
<th:block th:include="main/fragments/rootHeader"></th:block>
<div id="order-main">
    <div class="contents_inner">
        <h1 id="header-h1-text">주문/결제</h1>
        <div class="cart_body_payment">
            <!--            주문 컨테이너-->
            <div class="cart_body_inner">
                <section>
                    <!-- 주문상품 컨테이너-->
                    <div class="payment_body_wrap">
                        <details class="item-tip tbl_prod_wrap ordering" open="">
                            <summary onclick="revert()">
                                <span style="font-size: 19px;">주문 상품</span>
                                <span class="prod_cnt" th:text="x개"></span>
                                <div class="img-wrapper">
                                    <img id="arrow" class="btn-img" src="/static/img/main/down-arrow.svg">
                                    <input id="img-option" type="hidden" value="1">
                                </div>
                            </summary>
                            <table class="tbl_prod">
                                <thead class="hidden">
                                <tr>
                                    <th scope="col">상품정보</th>
                                    <th scope="col">#</th>
                                    <th scope="col">수량</th>
                                    <th scope="col">금액</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="prod">
                                        <div class="prod_area">
                                            <div class="bookpub-item-thumb size_sm">
                                                <a target="_blank" href="#">
                                    <span class="item-img-wrap">
                                        <img src="/static/img/main/bookpub-logo-black.png">
                                    </span>
                                                </a>
                                            </div>
                                            <div class="prod_info size_sm">
                                <span class="prod_info">
                                    <span class="prod_name">
                                        <span class="prod_name">도서명 받아오기</span>
                                    </span>
                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="badge_box"></div>
                                    </td>
                                    <td>
                                        <span class="prd_num"> 3개 </span>
                                    </td>
                                    <td>
                        <span class="price">
                            <span>51,300원</span>
                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </details>
                    </div>
                    <!-- 주문인 정보입력 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup>
                                    <col style="width: 210px">
                                    <col style="width: auto">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip">주문인 정보 입력</th>
                                    <td class="col-box-wrapper">
                                        <div class="form_col_group">
                                            <div class="col_box">
                                                <input type="text" class="form_ip" placeholder="주문인 이름을 입력해주세요."
                                                       title="이름 입력"
                                                       maxlength="10"
                                                       data-order-info-info="input_name"
                                                       th:value="${#authentication.getPrincipal()!='anonymousUser' ? member.memberName : ''}">
                                            </div>
                                            <div class="col_box"
                                                 style="display: flex; flex-direction: column; gap: 4px">
                                                <input type="tel" class="form_ip" placeholder="휴대폰 번호를 ‘-’없이 입력해주세요"
                                                       title="휴대폰 번호 입력"
                                                       maxlength="11" data-order-info-info="input_phone"
                                                       th:value="${#authentication.getPrincipal()!='anonymousUser' ? member.phone : ''}">
                                                <span style="color: #a7a7a7;" class="form_desc">입력하신 휴대폰번호로 주문에 관한 문자 및 메일이 발송됩니다.</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 배송지 정보 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup>
                                    <col style="width: 210px">
                                    <col style="width: auto">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip">수령인 정보 입력</th>
                                    <td class="col-box-wrapper">
                                        <div class="form_col_group">
                                            <div class="col_box">
                                                <input type="text" class="form_ip" placeholder="수령인 이름을 입력해주세요."
                                                       title="이름 입력"
                                                       maxlength="10"
                                                       data-order-info-info="input_name">
                                            </div>
                                            <div class="col_box"
                                                 style="display: flex; flex-direction: column; gap: 4px">
                                                <input type="tel" class="form_ip" placeholder="휴대폰 번호를 ‘-’없이 입력해주세요"
                                                       title="휴대폰 번호 입력"
                                                       maxlength="11" data-order-info-info="input_phone">
                                                <span style="color: #a7a7a7;" class="form_desc">입력하신 휴대폰번호로 주문에 관한 문자 및 메일이 발송됩니다.</span>
                                            </div>
                                            <div class="col_box">
                                                <input type="text" class="form_ip" name="roadAddress" id="roadAddress"
                                                       placeholder="도로명주소" required
                                                       onclick="findAddress()">
                                            </div>
                                            <div class="col_box">
                                                <input type="text" class="form_ip" id="detailAddress"
                                                       name="detailAddress"
                                                       placeholder="상세주소"
                                                       required>
                                            </div>
                                            <div class="col_box btn_box">
                                                <div class="btn_wrapper"
                                                     th:style="${#authentication.getPrincipal() != 'anonymousUser' ? 'display:block' : 'display:none'}">
                                                    <input class="checkBtn" type="button" onclick="myAddress()"
                                                           value="내 주소 보기"><br>
                                                </div>
                                                <div class="btn_wrapper">
                                                    <input class="checkBtn" type="button" onclick="findAddress()"
                                                           value="우편번호 찾기"><br>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 쿠폰 사용 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup>
                                    <col style="width: 210px">
                                    <col style="width: auto">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip">할인쿠폰</th>
                                </tr>
                                <td class="col-box-wrapper">
                                    <div class="col-box">

                                    </div>
                                </td>
                            </table>
                        </div>
                    </div>
                    <!-- 포인트 사용 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup>
                                    <col style="width: 210px">
                                    <col style="width: auto">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip">포인트</th>
                                </tr>
                                <tr>
                                    <th scope="row" class="has_ip" style="font-size: 17px;padding-left: 80px;">
                                        <label for="tbl-point">포인트 잔액</label>
                                    </th>
                                    <td>
                                        <div class="number_value_box size_def">
                                        <span class="point">
                                            <span id="userPoint"
                                                  class="val fc_spot"
                                                  th:text="${#authentication.getPrincipal() != 'anonymousUser' ?member.point :'0'}"></span>
                                            <span class="unit">원</span>
                                        </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input_btn_price_box">
                                            <div class="input_price_box">
                                                <input type="text" id="tbl-point" class="form_ip" value="0"
                                                       style="text-align: end; font-weight: 500; padding-right: 10px">
                                                <span class="unit">원</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn_wrapper" style="margin-left: 25px">
                                            <input class="checkBtn" type="button"
                                                   onclick="usePoint()" value="포인트 사용"><br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 배송일자 지정 컨테이너-->
                    <div class="payment_body_wrap">
                        <table>
                            <colgroup>
                                <col style="width: 210px">
                                <col style="width: auto">
                            </colgroup>
                            <tr>
                                <th scope="row" class="has_ip">배송일자 지정</th>
                                <td class="col-box-wrapper">
                                    <div class="form_col_group">
                                        <div class="col_box">
                                            <input type="datetime-local" class="form_ip" id="datetime" name="datetime">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- 배송 요청사항 컨테이너-->
                    <div class="payment_body_wrap">
                        <table>
                            <colgroup>
                                <col style="width: 210px">
                                <col style="width: auto">
                            </colgroup>
                            <tr>
                                <th scope="row" class="has_ip">배송 요청사항</th>
                                <td class="col-box-wrapper">
                                    <div class="form_col_group">
                                        <div class="col_box">
                                            <input type="text" class="form_ip" placeholder="배송 요청사항을 입력해주세요."
                                                   title="요청사항">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>

            <!-- 결제컨테이너-->
            <div class="cart_info_wrap">
                <div class="payments_info_area">
                    <div class="payments_info_box">
                        <h2 class="hidden">결제금액</h2>
                        <ul class="payments_info_list">
                            <li class="payments_info_item">
                                <p class="label2">상품금액</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val spot" data-amount="commodity">15,300</span>
                                        <span class="unit">원</span>
                                    </span>
                                </div>
                            </li>
                            <li class="payments_info_item" data-amount-area="deliveryFee">
                                <p class="label2">배송비</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val" data-amount="deliveryFee">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                </div>
                            </li>
                            <li class="payments_info_item" data-amount-area="present">
                                <p class="label2">선물포장</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val" id="gift-price">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                </div>
                            </li>
                            <li class="payments_info_item" data-amount-area="couponDiscount">
                                <p class="label2">쿠폰할인</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val" data-amount="couponDiscount">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                </div>
                            </li>
                            <li class="payments_info_item" data-amount-area="pointDiscount">
                                <p class="label2">포인트 사용</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span id="usePoint" class="val" data-amount="pointDiscount">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="payments_info_box"
                         style="margin-top: 12px; padding-top: 20px; border-top: 1px solid #eaeaea">
                        <ul class="payments_info_list">
                            <li class="payments_info_item total">
                                <p class="label2">최종결제금액</p>
                                <div class="right_box">
                                    <span class="price2">
                                        <span class="val" style="font-size:20px" data-amount="totalAmount">15,300</span>
                                        <span class="unit">원</span>
                                    </span>
                                </div>
                            </li>
                            <li class="payments_info_item point" style="justify-content: space-between;">
                                <p class="label2">적립예정포인트</p>
                                <span class="price2">
                                    <span class="point" data-amount="savingPoint">850</span>
                                    <span class="point-unit">P</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn_wrap full">
                    <button type="button" class="btn btn-primary"
                            id="btnOrderProcess"><span
                            class="text">결제하기</span>
                    </button>
                </div>
            </div>
            <!-- 선물포장 선택 버튼-->
            <div class="gift_choose_wrap">
                <div class="gift_choose">
                    <span style="padding-left: 13px;">🎁 선물 포장 옵션 <strong>(+2000)</strong></span>
                    <input style="width: 17px; height: 17px; margin: 0;" type="checkbox" onclick="gift()" id="gift">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('datetime').value = new Date().toISOString().substring(0, 19);
</script>
<script>
    function gift() {
        let giftOption = document.getElementById('gift');
        if (giftOption.checked === true) {
            document.getElementById("gift-price").innerText = "2000";
        } else {
            document.getElementById("gift-price").innerText = "0";
        }
    }
</script>


<th:block th:include="main/fragments/rootFooter"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="/static/js/main/jquery.min.js"></script>
<script src="/static/js/main/bootstrap.min.js"></script>
<script src="/static/js/main/slick.min.js"></script>
<script src="/static/js/main/nouislider.min.js"></script>
<script src="/static/js/main/jquery.zoom.min.js"></script>
<script src="/static/js/main/main.js"></script>
</body>

<div id="member_addresses" class="modal-overlay">
    <div id="modal_box">
        <h2>회원 주소 목록</h2>
        <table class="member-address-tbl">
            <tr class="address_header">
                <th class="member-address">도로명 주소</th>
                <th class="member-address">상세 주소</th>
                <th class="member-address">기준 주소</th>
            </tr>
            <tr th:each="address, num : ${member.addresses}" th:id="'address' + ${num.index}"
                class="address-info" onclick="saveAddress(this.id)">
                <td class="member-address" th:id="'roadAddr' + ${num.index}"
                    th:text="${address.roadAddress}"></td>
                <td class="member-address" th:id="'detailAddr' + ${num.index}"
                    th:text="${address.addressDetail}"></td>
                <td class="member-address" th:text="${address.addressBased}"></td>
            </tr>
        </table>
    </div>
</div>
<script>
    var modal = document.getElementById("member_addresses");

    modal.addEventListener("click", e => {
        const evTarget = e.target
        if (evTarget.classList.contains("modal-overlay")) {
            modal.style.display = "none"
        }
    })

    window.addEventListener("keyup", e => {
        if (modal.style.display === "flex" && e.key === "Escape") {
            modal.style.display = "none"
        }
    })
</script>

</html>