<!doctype html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bookpub-주문</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/order/main.css">

    <script src="/static/js/order/order.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <script>
        function revert() {
            let arrow = $('#arrow');
            let option = $('#img-option');
            if (option.val() === '1') {
                option.val('2')
                arrow.css("transform", "rotate(360deg)")
            } else {
                option.val('1')
                arrow.css("transform", "rotate(180deg)")
            }
        }
    </script>
    <script>
        function myAddress() {
            var modal = document.getElementById("member_addresses");
            modal.style.display = "flex"
        }
    </script>
    <script>
        function showCoupon() {
            var modal = document.getElementById("coupon");
            modal.style.display = "flex"
        }
    </script>
    <script src="../../static/js/order/order.js"></script>
    <link rel="stylesheet" href="../../static/css/order/main.css">
</head>
<body>
<th:block th:include="main/fragments/rootHeader"></th:block>
<div id="order-main" style="margin-bottom: 100px;">
    <div class="contents_inner">
        <h1 id="header-h1-text">주문</h1>

        <form method="post" action="/orders/order" class="cart_body_payment" id="orderForm">
            <input type="hidden" name="productCoupon" id="product-coupon-result" value="">
            <!--            주문 컨테이너-->
            <div class="cart_body_inner">
                <section>
                    <!-- 주문상품 컨테이너-->
                    <div class="payment_body_wrap">
                        <details class="item-tip tbl_prod_wrap ordering" open="">
                            <summary onclick="revert()">
                                <span style="font-size: 19px;">주문 상품</span>
                                <span class="prod_cnt" id="totalCnt"></span>
                                <input type="hidden" id="order-name" name="orderName">
                                <div class="img-wrapper">
                                    <img id="arrow" class="btn-img" src="/static/img/main/down-arrow.svg">
                                    <input type="hidden" id="img-option" value="1">
                                </div>
                            </summary>
                            <table class="tbl_prod">
                                <thead>
                                <tr>
                                    <th scope="col" class="th-size" style="padding: 20px 0 0 40px;">상품정보</th>
                                    <th scope="col" class="product-th th-size">포인트 적립금</th>
                                    <th scope="col" class="product-th th-size">수량</th>
                                    <th scope="col" class="product-th th-size">금액</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${products}">
                                    <input type="hidden"
                                           th:id="${product.productNo}"
                                           th:value="${product.productNo}+'|'+
                                           ${product.count}+'|'+
                                           ${product.totalPrice}" name="order-product">
                                    <td class="prod product-td">
                                        <div class="prod_area">
                                            <div class="bookpub-item-thumb size_sm">
                                                <span class="item-img-wrap"
                                                      th:if="${#strings.isEmpty(product.getThumbnail)}">
                                                    <img src="/static/img/main/no-image.png">
                                                </span>
                                                <span class="item-img-wrap"
                                                      th:if="${not #strings.isEmpty(product.getThumbnail)}">
                                                    <img th:src="${product.getThumbnail()}" alt="No image">
                                                </span>
                                            </div>
                                            <div class="prod_info size_sm">
                                                <span class="prod_info">
                                                    <span class="prod_name">
                                                        <span class="prod_name" th:text="${product.title}"></span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-td">
                                        <div class="point_box">
                                            <input class="changePrice" type="hidden" th:value="${product.totalPrice}">
                                            <input class="point_policy" type="hidden" th:value="${product.pointPolicy}">
                                            <span sec:authorize="isAuthenticated()" class="prd_savePoint"></span>
                                            <span sec:authorize="isAuthenticated()" class="policy-method"></span>
                                            <span sec:authorize="!isAuthenticated()" style="display: none"
                                                  class="prd_savePoint">0</span>
                                            <span sec:authorize="!isAuthenticated()" style="display: none"
                                                  class="policy-method"></span>
                                            <span sec:authorize="!isAuthenticated()">비회원은 포인트 적립이 안됩니다</span>
                                        </div>
                                    </td>
                                    <td class="product-td prd_num">
                                        <span th:text="${product.count}"></span>
                                    </td>
                                    <td class="product-td product-price">
                                        <div class="price-box">
                                            <span class="product-total-price" style="font-weight: 600"
                                                  th:text="${#numbers.formatInteger(product.totalPrice,0,'COMMA')}+'원'"></span>
                                            <span class="product-per-discount"></span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </details>
                    </div>
                    <!-- 주문인 정보입력 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup>
                                    <col style="width: 210px">
                                    <col style="width: auto">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip">주문인 정보 입력</th>
                                    <td class="col-box-wrapper">
                                        <div class="form_col_group">
                                            <div class="col_box">
                                                <input type="text" class="form_ip" placeholder="주문인 이름을 입력해주세요."
                                                       id="buyerName"
                                                       title="이름 입력"
                                                       maxlength="200"
                                                       name="buyerName"
                                                       required
                                                       th:value="${#authentication.getPrincipal()!='anonymousUser' ? member.memberName : ''}">
                                            </div>
                                            <div class="col_box"
                                                 style="display: flex; flex-direction: column; gap: 4px">
                                                <input type="tel" class="form_ip" placeholder="휴대폰 번호를 ‘-’없이 입력해주세요"
                                                       title="휴대폰 번호 입력"
                                                       id="buyerPhone"
                                                       maxlength="11"
                                                       name="buyerNumber"
                                                       required
                                                       th:value="${#authentication.getPrincipal()!='anonymousUser' ? member.phone : ''}">
                                                <span style="color: #a7a7a7;" class="form_desc">입력하신 휴대폰번호로 주문에 관한 문자 및 메일이 발송됩니다.</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 배송지 정보 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup>
                                    <col style="width: 210px">
                                    <col style="width: auto">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip custom-th">
                                        <span>수령인 정보 입력</span>
                                        <button class="buyer-info-btn" type="button" onclick="getBuyerInfo()">주문인 정보
                                            가져오기
                                        </button>
                                    </th>
                                    <td class="col-box-wrapper">
                                        <div class="form_col_group">
                                            <div class="col_box">
                                                <input type="text" class="form_ip" placeholder="수령인 이름을 입력해주세요."
                                                       id="receiverName"
                                                       title="이름 입력"
                                                       maxlength="200"
                                                       name="recipientName" required>
                                            </div>
                                            <div class="col_box"
                                                 style="display: flex; flex-direction: column; gap: 4px">
                                                <input type="tel" class="form_ip" placeholder="휴대폰 번호를 ‘-’없이 입력해주세요"
                                                       title="휴대폰 번호 입력"
                                                       id="receiverPhone"
                                                       maxlength="11"
                                                       name="recipientNumber" required>
                                                <span style="color: #a7a7a7;" class="form_desc">입력하신 휴대폰번호로 주문에 관한 문자 및 메일이 발송됩니다.</span>
                                            </div>
                                            <div class="col_box">
                                                <input type="text" class="form_ip" readonly name="roadAddress"
                                                       id="roadAddress"
                                                       placeholder="도로명주소" required style="cursor: pointer"
                                                       onclick="findAddress()">
                                            </div>
                                            <div class="col_box">
                                                <input type="text" class="form_ip" id="detailAddress"
                                                       name="addressDetail"
                                                       placeholder="상세주소"
                                                       required>
                                            </div>
                                            <div class="col_box btn_box">
                                                <div class="btn_wrapper"
                                                     th:style="${#authentication.getPrincipal() != 'anonymousUser' ? 'display:block' : 'display:none'}">
                                                    <input class="checkBtn" type="button" onclick="myAddress()"
                                                           value="내 주소 보기"><br>
                                                </div>
                                                <div class="btn_wrapper">
                                                    <input class="checkBtn" type="button" onclick="findAddress()"
                                                           value="우편번호 찾기"><br>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 쿠폰 사용 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup>
                                    <col style="width: 100%">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip">할인쿠폰</th>
                                </tr>
                                <td class="col-box-wrapper">
                                    <div class="col-box" style="gap: 13px;display: flex;align-items: center;">
                                        <span style="padding-left: 7rem;font-size: 18px; color: #0000004d;" th:text="${#authentication.getPrincipal()!='anonymousUser'
                                        ? '사용할 수 있는 쿠폰이 있는지 확인하세요' : '비회원은 쿠폰을 사용할 수 없습니다'}"></span>
                                        <button th:if="${#authentication.getPrincipal()!='anonymousUser'}"
                                                id="coupon-use" type="button" onclick="showCoupon()">쿠폰사용
                                        </button>
                                    </div>
                                </td>
                            </table>
                        </div>
                    </div>
                    <!-- 포인트 사용 컨테이너-->
                    <div class="payment_body_wrap">
                        <div class="tbl_row_wrap">
                            <table>
                                <colgroup th:if="${#authentication.getPrincipal()=='anonymousUser'}">
                                    <col style="width: 100%">
                                </colgroup>
                                <colgroup th:if="${#authentication.getPrincipal()!='anonymousUser'}">
                                    <col style="width: 210px">
                                    <col style="width: auto">
                                </colgroup>
                                <tr>
                                    <th scope="row" class="has_ip">포인트</th>
                                </tr>
                                <tr th:if="${#authentication.getPrincipal()=='anonymousUser'}">
                                    <td class="col-box-wrapper">
                                        <div class="col-box" style="gap: 13px;display: flex;align-items: center;">
                                            <span style="padding-left: 7rem;font-size: 18px; color: #0000004d;">비회원은 포인트를 사용할 수 없습니다</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:if="${#authentication.getPrincipal()!='anonymousUser'}">
                                    <th scope="row" class="has_ip" style="font-size: 17px;padding-left: 80px;">
                                        <label for="tbl-point">포인트 잔액</label>
                                    </th>
                                    <td>
                                        <div class="number_value_box size_def">
                                        <span class="point">
                                            <span id="userPoint"
                                                  class="val fc_spot"
                                                  th:text="${#numbers.formatInteger(member.point,0,'COMMA')}"></span>
                                            <span class="unit">원</span>
                                        </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input_btn_price_box">
                                            <div class="input_price_box">
                                                <input type="text" id="tbl-point" class="form_ip" value=""
                                                       style="text-align: end; font-weight: 500; padding-right: 10px">
                                                <span class="unit">원</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn_wrapper" style="margin-left: 25px">
                                            <input class="checkBtn" type="button"
                                                   onclick="usePoint()" value="포인트 사용"><br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 배송일자 지정 컨테이너-->
                    <div class="payment_body_wrap">
                        <table>
                            <colgroup>
                                <col style="width: 210px">
                                <col style="width: auto">
                            </colgroup>
                            <tr>
                                <th scope="row" class="has_ip">배송일자 지정</th>
                                <td class="col-box-wrapper">
                                    <div class="form_col_group">
                                        <div class="col_box">
                                            <input type="date" class="form_ip" id="datetime" name="receivedAt">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- 배송 요청사항 컨테이너-->
                    <div class="payment_body_wrap">
                        <table>
                            <colgroup>
                                <col style="width: 210px">
                                <col style="width: auto">
                            </colgroup>
                            <tr>
                                <th scope="row" class="has_ip">배송 요청사항</th>
                                <td class="col-box-wrapper">
                                    <div class="form_col_group">
                                        <div class="col_box">
                                            <input type="text" class="form_ip" placeholder="배송 요청사항을 입력해주세요."
                                                   title="요청사항" name="orderRequest">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>

            <!--주소입력 모달창-->
            <div id="member_addresses" class="modal-overlay2"
                 th:if="${#authentication.getPrincipal()!='anonymousUser'}">
                <div class="modal_box">
                    <h2>회원 주소 목록</h2>
                    <table class="member-address-tbl">
                        <tr class="address_header">
                            <th class="member-address">도로명 주소</th>
                            <th class="member-address">상세 주소</th>
                            <th class="member-address">기준 주소</th>
                        </tr>
                        <tr th:each="address, num : ${member.addresses}" th:id="'address' + ${num.index}"
                            class="address-info" onclick="saveAddress(this.id)">
                            <td class="member-address" th:id="'roadAddr' + ${num.index}"
                                th:text="${address.roadAddress}"></td>
                            <td class="member-address" th:id="'detailAddr' + ${num.index}"
                                th:text="${address.addressDetail}"></td>
                            <td class="member-address" th:text="${address.addressBased ? 'O' : 'X'}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--주소 모달 js-->
            <script>
                var modal2 = document.getElementById("member_addresses");

                modal2.addEventListener("click", e => {
                    const evTarget = e.target
                    if (evTarget.classList.contains("modal-overlay2")) {
                        modal2.style.display = "none"
                    }
                })

                window.addEventListener("keyup", e => {
                    if (modal2.style.display === "flex" && e.key === "Escape") {
                        modal2.style.display = "none"
                    }
                })
            </script>
            <!--쿠폰 적용 모달창-->
            <div id="coupon" class="modal-overlay">
                <div class="modal_box2" style="display: block">
                    <div>
                        <!-- 컨텐츠 영역 -->

                        <div class="n-coupon-popup">
                            <h1 class="popup-tit">COUPON</h1>
                            <div class="popup-cont" style="overflow-y: auto; height: 45rem;">
                                <!--쿠폰 리스트-->
                                <table class="n-table table-col">
                                    <colgroup>
                                        <col style="width:282px">
                                        <col style="width:314px;">
                                        <col style="width:90px">
                                        <col style="width:100px">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th class="th-css" scope="col">상품명</th>
                                        <th class="th-css" scope="col">판매가</th>
                                        <th class="th-css" scope="col">쿠폰 선택</th>
                                        <th class="th-css" scope="col">할인금액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${products}">
                                        <td class="td-css">
                                            <div class="n-prd-row">
                                                <span class="item-img-wrap"
                                                      th:if="${#strings.isEmpty(product.getThumbnail)}">
                                                    <img src="/static/img/main/no-image.png">
                                                </span>
                                                <span class="item-img-wrap"
                                                      th:if="${not #strings.isEmpty(product.getThumbnail)}">
                                                    <img th:src="${product.getThumbnail()}" alt="No image">
                                                </span>
                                                <ul class="info">
                                                    <li class="name" th:text="${product.title}"></li>
                                                    <li class="coupon-info"
                                                        th:id="'apply_coupon' + ${product.productNo}"></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="coupon-price-area td-css">
                                            <div class="coupon-sale-price">
                                                <span>판매가</span>
                                                <strong class="font-w-noraml"
                                                        th:text="${#numbers.formatInteger(product.salesPrice,0,'COMMA')}"></strong>
                                            </div>
                                            <div>
                                                <span class="operation">X</span>
                                            </div>
                                            <div class="coupon-product-cnt">
                                                <span>수량</span>
                                                <strong th:text="${product.count} + '개'"></strong>
                                            </div>
                                            <div>
                                                <span class="operation">=</span>
                                            </div>
                                            <div class="coupon-sale-price">
                                                <span class="coupon-total-price">총 판매가</span>
                                                <strong th:text="${#numbers.formatInteger(product.totalPrice, 0, 'COMMA')}"></strong>
                                            </div>
                                        </td>
                                        <td class="td-css">
                                            <a href="javascript:void(0)"
                                               th:id="'coupon_avail_button' + ${product.productNo}"
                                               th:onclick="selectCoupon([[${product}]]);" class="btn-default">쿠폰
                                                선택</a>
                                            <a href="javascript:void(0)"
                                               th:id="'dc_cancel_button' + ${product.productNo}"
                                               style="display:none"
                                               th:onclick="cancelCoupon([[${product}]]);" class="btn-default">취소</a>
                                        </td>
                                        <td class="td-css">
                                                <span class="product-per-coupon"
                                                      th:id="'price' + ${product.productNo}"></span>
                                        </td>
                                        <input type="hidden" th:id="${product.productNo} + 'coupon'"
                                               name="coupon-apply">
                                    </tr>
                                    </tbody>
                                </table>


                                <ul class="info-list">
                                    <li>쿠폰 적용 시 한 주문, 한 상품에 한해서만 적용됩니다. (복수발급 쿠폰 제외)</li>
                                    <li>각 쿠폰은 사용기한이 정해져 있습니다.</li>
                                    <li>주문 후 반품/환불/취소의 경우 사용하신 쿠폰은 소멸됩니다.</li>
                                    <li>쿠폰 적용품목이 한정된 쿠폰은 해당 품목에서만 사용가능 합니다.</li>
                                    <li>할인/적립(%) 쿠폰은 적립금할인 등을 제외한 실제 결제금액에 적용됩니다.</li>
                                    <li>해당 상품에 대한 쿠폰은 해당 상품만 구매시 적용이 가능합니다.</li>
                                </ul>

                                <div class="n-btn-group">
                                    <a href="javascript:void(0)" onclick="applyCouponOrder()"
                                       class="n-btn btn-accent">쿠폰 적용</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--쿠폰 적용 모달창 js-->
            <script>
                var modal = document.getElementById("coupon");

                modal.addEventListener("click", e => {
                    const evTarget = e.target
                    if (evTarget.classList.contains("modal-overlay")) {
                        applyCouponOrder()
                    }
                })

                window.addEventListener("keyup", e => {
                    if (modal.style.display === "flex" && e.key === "Escape") {
                        applyCouponOrder()
                    }
                })
            </script>
            <!--쿠폰 선택 모달창-->
            <div id="coupon-select" class="modal-overlay3">
                <div class="modal_box" style="display: block">
                    <div>
                        <h1 class="layer-tit">적용 가능 쿠폰 리스트</h1>
                        <div class="layer-cont" style="overflow-y: auto;height: 50rem;">
                            <p>해당 상품에 적용 가능한 쿠폰 입니다. 쿠폰을 선택해주세요.</p>
                            <!--쿠폰 리스트-->
                            <table class="n-table table-col">
                                <colgroup>
                                    <col style="width:*">
                                    <col style="width:110px">
                                    <col style="width:100px">
                                    <col style="width:145px">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th class="coupon-th" scope="col">쿠폰명</th>
                                    <th class="coupon-th" scope="col">적용 가능 수량</th>
                                    <th class="coupon-th" scope="col">할인율</th>
                                    <th class="coupon-th" scope="col">할인금액</th>
                                </tr>
                                </thead>
                                <tbody id="coupon-list">
                                </tbody>
                            </table>
                        </div>
                        <div class="n-btn-group">
                            <a href="javascript:void(0)" onclick="hideModal()" class="n-btn btn-lighter">취소</a>
                            <a href="javascript:void(0)" onclick="applyCoupon()" class="n-btn btn-accent">쿠폰선택</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--쿠폰 선택 모달 js-->
            <script>
                var modal3 = document.getElementById("coupon-select");

                modal3.addEventListener("click", e => {
                    const evTarget = e.target
                    if (evTarget.classList.contains("modal-overlay3")) {
                        modal3.style.display = "none"
                    }
                })

                window.addEventListener("keyup", e => {
                    if (modal3.style.display === "flex" && e.key === "Escape") {
                        modal3.style.display = "none"
                    }
                })

                function hideModal() {
                    modal3.style.display = "none"
                }
            </script>
            <!-- 결제컨테이너-->
            <div class="cart_info_wrap">
                <div class="payments_info_area">
                    <div class="payments_info_box">
                        <h2 class="hidden">결제금액</h2>
                        <ul class="payments_info_list">
                            <li class="payments_info_item">
                                <p class="label2">상품금액</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val spot" id="commodity">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                </div>
                            </li>
                            <li class="payments_info_item">
                                <p class="label2">배송비</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val" style="color: #d52929 !important;" id="shipAmount"
                                              th:text="${#numbers.formatInteger(shipPolicy.policyFee,0,'COMMA')}"></span>
                                        <span class="unit">원</span>
                                    </span>
                                    <input type="hidden" id="deliveryPolicy" name="deliveryFeePolicyNo"
                                           th:value="${shipPolicy.policyNo}">
                                </div>
                            </li>
                            </li>
                            <li class="payments_info_item" data-amount-area="present">
                                <p class="label2">선물포장</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val" style="color: #d52929 !important;" id="gift-price">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                    <input type="hidden" id="giftPolicy" name="packingFeeFeePolicyNo"
                                           th:value="${packPolicy.policyNo}">
                                </div>
                            </li>
                            <li class="payments_info_item" data-amount-area="couponDiscount">
                                <p class="label2">쿠폰할인</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span class="val" style="color:blue !important;" id="couponDiscount">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                    <input type="hidden" id="couponAmount" name="couponAmount">
                                </div>
                            </li>
                            <li class="payments_info_item">
                                <p class="label2">포인트 사용</p>
                                <div class="right_box">
                                    <span class="price">
                                        <span id="usePoint" style="color:blue !important;" class="val">0</span>
                                        <span class="unit">원</span>
                                    </span>
                                    <input type="hidden" id="pointAmount" name="pointAmount">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="payments_info_box"
                         style="margin-top: 12px; padding-top: 20px; border-top: 1px solid #eaeaea">
                        <ul class="payments_info_list">
                            <li class="payments_info_item total" style="margin-bottom: 7px;">
                                <p class="label2" style="margin: 0 !important;line-height: 27px;">최종결제금액</p>
                                <div class="right_box">
                                    <span class="price2" style="display: flex;align-items: center;gap: 5px;">
                                        <span class="val" style="font-size:19px" id="totalAmount">0</span>
                                        <span class="unit" style="font-size: 19px !important;">원</span>
                                    </span>
                                    <input type="hidden" id="totalPrice" name="totalAmount">
                                </div>
                            </li>
                            <li class="payments_info_item point" style="justify-content: space-between;">
                                <p class="label2">적립예정포인트</p>
                                <span class="price2">
                                    <span class="point" id="savingPoint">0</span>
                                    <span class="point-unit">P</span>
                                </span>
                                <input type="hidden" id="savePoint" name="savePoint">
                            </li>
                            <li>
                                <span style="vertical-align: middle;font-size: 8px;">
                                    최대 100원까지만 할인됩니다
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn_wrap full">
                    <button type="button" class="btn btn-primary"
                            onclick="finalLogic()"
                            id="btnOrderProcess"><span
                            class="text">결제하기</span>
                    </button>
                </div>
            </div>
            <!-- 선물포장 선택 버튼-->
            <div class="gift_choose_wrap">
                <div class="gift_choose">
                    <span style="padding-left: 13px;">🎁 선물 포장 옵션 <strong
                            th:text="'(+' + ${packPolicy.policyFee} + ')'"></strong></span>
                    <input style="width: 17px; height: 17px; margin: 0;" type="checkbox"
                           th:onclick="giftOp([[${packPolicy}]]);" id="gift" name="packaged">
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const dateList1 = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]; // 윤년 x
    const dateList2 = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]; // 윤년 o

    let today = new Date();
    let year = today.getFullYear();
    let month = today.getMonth() + 1;
    let date = today.getDate();

    let year2 = today.getFullYear();
    let month2 = today.getMonth() + 1;
    let date2 = today.getDate();


    plusDate();
    change();

    let dateInput = document.getElementById('datetime');

    dateInput.value = year + "-" + month + "-" + date;
    let min = year + "-" + month + "-" + date;
    dateInput.setAttribute("min", min);

    plusMonth();
    change2();
    let max = year2 + "-" + month2 + "-" + date2;
    dateInput.setAttribute("max", max);

    function isLeapYear() {  //윤년 계산 함수
        return (year % 4 === 0 && year % 100 !== 0) || (year % 400 === 0);
    }

    function plusDate() {
        if (isLeapYear()) {
            if (date === dateList2[month - 1]) {
                if (month === 12) {
                    year += 1;
                    month = 1;
                    date = 1;
                } else {
                    month += 1;
                    date = 1;
                }
            } else {
                date += 1;
            }
        } else {
            if (date === dateList1[month - 1]) {
                if (month === 12) {
                    year += 1;
                    month = 1;
                    date = 1;
                } else {
                    month += 1;
                    date = 1;
                }
            } else {
                date += 1;
            }
        }
    }

    function plusMonth() {
        if (month2 === 12) {
            year2 += 1;
            month2 = 1;
        } else {
            month2 += 1;
        }
    }

    function change() {
        if (month < 10) {
            month = "0" + month
        }

        if (date < 10) {
            date = "0" + date;
        }
    }

    function change2() {
        if (month2 < 10) {
            month2 = "0" + month2
        }

        if (date2 < 10) {
            date2 = "0" + date2;
        }
    }

</script>
<th:block th:include="main/fragments/rootFooter"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="/static/js/main/jquery.min.js"></script>
<script src="/static/js/main/bootstrap.min.js"></script>
<script src="/static/js/main/slick.min.js"></script>
<script src="/static/js/main/nouislider.min.js"></script>
<script src="/static/js/main/jquery.zoom.min.js"></script>
<script src="/static/js/main/main.js"></script>
</body>
</html>