<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookPub-Order</title>
    <!--    <link rel="stylesheet" href="/static/css/mypage/styles.css">-->
    <!--    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>-->
    <!--    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>-->
    <link type="text/css" rel="stylesheet" href="/static/css/mypage/orderdetail.css">
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>-->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>


    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<th:block th:include="main/fragments/rootHeader"></th:block>

<div class="body-pd" style="width: 60%; margin-left: 20%;">
    </br>
    <h3>주문/배송 조회 상세</h3>
    <div class="order_summary_box">
        <div class="box_header">
            <div class="label">
                <span class="order_date" th:text="${#temporals.format(orderDetail.getCreatedAt, 'yyyy.MM.dd')}"></span>
                <span class="gap">|</span>
                <span class="order_num">주문번호 <span class="num" th:text="${orderDetail.getOrderId()}"></span></span>
                <span class="gap">|</span>
                <span class="order_num">송장번호 <span class="num" th:text="${orderDetail.getInvoiceNo()}"></span></span>
                <span class="gap">|</span>
                <span class="order_num"><span class="num" th:text="${orderDetail.getOrderState()}"></span></span>
            </div>
        </div>
    </div>
    </br>
    </br>
    <!--상품관련-->
    <div class="tbl_prod_wrap type_myroom" id="commodityList">
        <h3>상품</h3>

        <table class="tbl_prod">
            <colgroup>
                <col style="width: 4rem"/>
                <col style="width: 18rem;"/>
                <col style="width: 4rem;"/>
                <col style="width: 4rem;"/>
            </colgroup>
            <thead class="hidden">
            <tr>
                <th scope="col">상품정보</th>
                <th scope="col">금액</th>
                <th scope="col">배송정보</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${orderDetail.getOrderProducts()}">
                <td class="prod_img">
                    <div>
                        <div>
                                    <span class="img_box" th:if="${#strings.isEmpty(product.getThumbnail)}">
                                        <img class="img_thumbnail"
                                             src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg">
                                    </span>
                            <span class="img_box" th:if="${not #strings.isEmpty(product.getThumbnail)}">
                                        <img class="img_thumbnail" th:src="@{${product.getThumbnail()}}" alt="No image">
                                    </span>
                        </div>
                    </div>
                </td>

                <td class="prod">
                                <span class="badge_sm badge_bookpub">
                                    <span class="text">BookPub 직배송!</span>
                                </span>
                    <a th:href="|../../products/${product.getProductNo()}|">
                        <h3 th:text="${product.getTitle()}"></h3>
                    </a>
                    <span class="text">수량 : </span><span class="val"
                                                         th:text="${#numbers.formatInteger(product.getProductAmount(),0,'COMMA')}"></span>
                </td>


                <td class="prod">
                                <span class="price">
                                    <div class="order_num" th:if="${!product.getStateCode().equals('결제완료')}">
                                        <span class="order_num" th:text="${product.getStateCode()}"></span>
                                    </div>
                                    <span class="val"
                                          th:text="${#numbers.formatInteger(product.getSalesPrice(),0,'COMMA')}"></span>
                                    <span class="unit">원</span>
                                </span>
                </td>

                <td class="prod">

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="body-pd" style="width: 70%; margin-left: 20%;">
    <div style="margin-top: 50px; width: 85%;">
        <!-- 배송정보 -->
        <div class="title_wrap title_size_md">
            <h3>배송</h3>
        </div>

        <div class="tbl_row_wrap">
            <table class="tbl_row">
                <colgroup>
                    <col style="width: 140px;"/>
                    <col style="width: auto;"/>
                </colgroup>
                <tbody>
                </tbody>
            </table>
        </div>
        <tr>
            <h4>송장 번호</h4>
            <td>
                <div class="address_item no_line">
                    <div class="address_info_box">
                        <div class="address_person">
                            <span class="phone_number" th:if="${#strings.isEmpty(orderDetail.invoiceNo)}"
                                  th:text="${orderDetail.orderState}"></span>
                            <span class="phone_number" th:if="${#strings.isEmpty(orderDetail.invoiceNo)}">입니다.</span>

                            <span class="phone_number" th:if="${not #strings.isEmpty(orderDetail.invoiceNo)}"
                                  th:text="${orderDetail.invoiceNo}"></span>
                        </div>
                    </div>
                </div>
            </td>
            </br>
            <h4 th:if="${orderDetail.getBuyerName() != orderDetail.getRecipientName()}">주문자 정보</h4>
            <td>
                <div class="address_item no_line">
                    <div class="address_info_box">
                        <div class="address_person">
                            <span class="name"><span th:text="${orderDetail.getBuyerName()}"></span> / </span>
                            <span class="phone_number" th:text="${orderDetail.getBuyerNumber()}"></span>
                        </div>
                    </div>
                </div>
            </td>
            </br>
            <h4>배송지 정보</h4>
            <td>
                <div class="address_item no_line">
                    <div class="address_info_box">
                        <div class="address_person">
                            <span class="name"><span th:text="${orderDetail.getRecipientName()}"></span> / </span>
                            <span class="phone_number" th:text="${orderDetail.getRecipientNumber()}"></span>
                        </div>
                        <div class="address"
                             th:text="${orderDetail.getAddressBase() + ' ' + orderDetail.getAddressDetail()}"></div>
                        <div class="msg">
                            <div>배송선택일자 :</div>&ensp;
                            <div class="text">
                                <span th:text="${#temporals.format(orderDetail.getReceivedAt(), 'yyyy.MM.dd')}"></span>
                            </div>
                        </div>
                        <div class="msg">
                            <div>배송요청사항 :</div>&ensp;
                            <div class="text">
                                <span th:text="${orderDetail.getOrderRequest()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </div>
</div>

<div class="body-pd" style="width: 70%; margin-left: 20%;">
    <div style="margin-top: 50px; width: 85%;">
        <div class="title_wrap title_size_md">
            <h3>결제</h3>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> 정상가</th>
                <th scope="col"> 쿠폰사용</th>
                <th scope="col"> 포인트사용</th>
                <th scope="col"> 포장비</th>
                <th scope="col"> 배송비</th>
                <th scope="col"> 결제가</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><span th:text="${#numbers.formatInteger(originPrice,0,'COMMA')}"></span>원</th>

                <th th:if="${orderDetail.couponAmount <= 0}">
                    <span>
                    <span>미사용</span>
                    </span>
                </th>
                <th th:if="${orderDetail.couponAmount > 0}">
                    <span style="color: red">-
                        <span th:text="${#numbers.formatInteger(orderDetail.couponAmount,0,'COMMA')}"></span>
                        원</span>
                </th>

                <th th:if="${orderDetail.pointAmount <= 0}">
                    <span>
                    <span>미사용</span>
                    </span>
                </th>
                <th th:if="${orderDetail.pointAmount > 0}">
                    <span style="color: red">-
                    <span th:text="${#numbers.formatInteger(orderDetail.pointAmount,0,'COMMA')}"></span>
                    원</span>
                </th>

                <th th:if="${orderDetail.packaged}">
                    <span style="color: blue">+
                    <span th:text="${#numbers.formatInteger(orderDetail.packageAmount,0,'COMMA')}"></span>
                    원</span>
                </th>
                <th th:if="${!orderDetail.packaged}">
                    <span>선택 안함</span>
                </th>

                <th th:if="${orderDetail.deliveryAmount <= 0}">
                    <span>
                    <span>무료</span>
                    </span>
                </th>
                <th th:if="${orderDetail.deliveryAmount > 0}">
                    <span style="color: blue">+
                    <span th:text="${#numbers.formatInteger(orderDetail.deliveryAmount,0,'COMMA')}"></span>
                    원</span>
                </th>

                <th><span th:text="${#numbers.formatInteger(orderDetail.totalAmount,0,'COMMA')}"></span>원</th>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<th:block th:include="main/fragments/rootFooter"></th:block>

<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/static/js/mypage/main.js"></script>
</body>
</html>