<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BookPub</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<th:block th:include="main/fragments/rootHeader"></th:block>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="shop" style="height: 165px">
                    <div class="shop-img">
                        <img src="https://api-storage.cloud.toast.com/v1/AUTH_fcb81f74e379456b8ca0e091d351a7af/bookpub/front/bestSeller.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Best-Seller<br>Collection</h3>
                        <a href="#" class="cta-btn">쇼핑하러 가기 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="shop" style="height: 165px">
                    <div class="shop-img">
                        <img src="https://api-storage.cloud.toast.com/v1/AUTH_fcb81f74e379456b8ca0e091d351a7af/bookpub/front/middle.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Subscription<br>Collection</h3>
                        <a href="#" class="cta-btn">쇼핑하러 가기 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="shop" style="height: 165px"  onclick="location.href='/products/ebooks'">
                    <div class="shop-img">
                        <img src="https://api-storage.cloud.toast.com/v1/AUTH_fcb81f74e379456b8ca0e091d351a7af/bookpub/front/ebook.jpg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>E-Book<br>Collection</h3>
                        <a href="/products/ebooks" class="cta-btn">쇼핑하러 가기 <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">신간 도서 상품</h3>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">

                                <div th:each="newBook :${newBooks}" style="padding: 15px !important;">
                                    <div class="product">
                                        <div class="product-img" style="width: 100%; height: 370px;">
                                            <img style="width: 100%; height: 100%; object-fit: cover;"
                                                 th:if="${#strings.isEmpty(newBook.getThumbnail)}"
                                                 src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                                 alt=""
                                                 th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${newBook.productNo})} + '\''">

                                            <img style="width: 100%; height: 100%; object-fit: cover;"
                                                 th:if="${not #strings.isEmpty(newBook.getThumbnail)}"
                                                 th:src="@{${newBook.getThumbnail()}}"
                                                 alt="no image"
                                                 th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${newBook.productNo})} + '\''">

                                            <div class="product-label">
                                                <span class="sale" th:if="${newBook.salesRate} != 0"
                                                      th:text="'-'+${newBook.salesRate} +'%'"></span>
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <div th:each="category :${newBook.productCategories}">
                                                <span class="product-category" th:text="${category}"></span>
                                            </div>
                                            <h3 class="product-name">
                                                <a th:href="@{/products/{productNo}(productNo=${newBook.productNo})}"
                                                   th:text="${newBook.title}"></a>
                                            </h3>
                                            <del class="product-old-price" th:text="${newBook.productPrice}+'원'"></del>
                                            <h4 class="product-price" th:text="${newBook.salesPrice}+'원'"></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                        class="tooltipp">Like</span></button>
                                                <button class="quick-view"
                                                        th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${newBook.productNo})} + '\''">
                                                    <i class="fa fa-eye"></i><span class="tooltipp">Information</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">인기 도서 상품</h3>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <div id="tab2" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-2">

                                <div th:each="bestSeller :${bestSellers}" style="padding: 15px !important;">
                                    <div class="product">
                                        <div class="product-img" style="width: 100%; height: 370px;">
                                            <img style="width: 100%; height: 100%; object-fit: cover;"
                                                 th:if="${#strings.isEmpty(bestSeller.getThumbnail)}"
                                                 src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                                 alt=""
                                                 th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${bestSeller.productNo})} + '\''">

                                            <img style="width: 100%; height: 100%; object-fit: cover;"
                                                 th:if="${not #strings.isEmpty(bestSeller.getThumbnail)}"
                                                 th:src="@{${bestSeller.getThumbnail()}}"
                                                 alt="no image"
                                                 th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${bestSeller.productNo})} + '\''">

                                            <div class="product-label">
                                                <span class="sale" th:if="${bestSeller.salesRate} != 0"
                                                      th:text="'-'+${bestSeller.salesRate} +'%'"></span>
                                                <span class="best">BEST</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <div th:each="category :${bestSeller.productCategories}">
                                                <span class="product-category" th:text="${category}"></span>
                                            </div>
                                            <h3 class="product-name">
                                                <a th:href="@{/products/{productNo}(productNo=${bestSeller.productNo})}"
                                                   th:text="${bestSeller.title}"></a>
                                            </h3>
                                            <del class="product-old-price"
                                                 th:text="${bestSeller.productPrice}+'원'"></del>
                                            <h4 id="money" class="product-price"
                                                th:text="${bestSeller.salesPrice}+'원'"></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                        class="tooltipp">Like</span></button>

                                                <button class="quick-view"
                                                        th:onclick="'location.href=\''+ @{/products/{productNo}(productNo=${bestSeller.productNo})} + '\''">
                                                    <i class="fa fa-eye"></i><span class="tooltipp">Information</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Top selling</h4>
                    <div class="section-nav">
                        <div id="slick-nav-3" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-3">
                    <div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Top selling</h4>
                    <div class="section-nav">
                        <div id="slick-nav-4" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-4">
                    <div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-sm visible-xs"></div>

            <div class="col-md-4 col-xs-6">
                <div class="section-title">
                    <h4 class="title">Top selling</h4>
                    <div class="section-nav">
                        <div id="slick-nav-5" class="products-slick-nav"></div>
                    </div>
                </div>

                <div class="products-widget-slick" data-nav="#slick-nav-5">
                    <div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Category</p>
                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<th:block th:include="main/fragments/rootFooter"></th:block>

<script src="/static/js/main/jquery.min.js"></script>
<script src="/static/js/main/bootstrap.min.js"></script>
<script src="/static/js/main/slick.min.js"></script>
<script src="/static/js/main/nouislider.min.js"></script>
<script src="/static/js/main/jquery.zoom.min.js"></script>
<script src="/static/js/main/main.js"></script>

</body>
</body>
</html>