<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/mypage/styles.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/css/mypage/myPage.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div id="body-pd">
    <th:block th:include="mypage/fragments/mypageHeader"></th:block>
    <th:block th:include="mypage/fragments/mypageSidebar"></th:block>
    <div class="myPageBody">
        <br>
        <h2 class="mb-3 ">내 정보</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="card  text-black-50 mb-4 member-info-tier">
                    <div class="card-body">
                        <span class="float-lg-start">내등급</span>
                        <span class="float-end check-member-info justify-content-end"
                              th:text="${member.tierName}"></span>
                    </div>
                    <div class="card-footer d-flex align-items-center" onclick="modalOpen()">
                        <p class="text-white stretched-link justify-content-end" style="margin: 0 !important; cursor: pointer">등급</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card member-info-point text-black-50 mb-4">
                    <div class="card-body">
                        <span class="float-lg-start">잔여 포인트</span>
                        <span class="check-member float-end justify-content-end"
                              th:text="${#numbers.formatInteger(member.point,0,'COMMA')}"></span>
                    </div>
                    <div class="card-footer d-flex align-items-center">
                        <a class="text-white stretched-link justify-content-end" href="/members/point">포인트 사용 내역</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="list-group">
            <h5 class="mb-2 control-label">내 이름</h5>


            <a href="#change_name"
               class="nav__link list-group-item list-group-item-action flex-column align-items-start"
               data-toggle="modal">
                <div class="d-flex w-100 height-0 justify-content-end">
                    <small class="badge bg-opacity-20">수정하기</small>
                </div>
                <span class="mb-2" th:text="${member.memberName}"></span>
            </a>
            <!--        이름 변경 모달        -->
            <div class="modal fade" id="change_name" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">이름 변경</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/members/name" class="was-validated"
                                  method="POST">
                                <input type="hidden" id="member-no" th:value="${#authentication.principal}">
                                <br/>
                                <div class="form-group">
                                    <label for="exchangeName">변경할 이름</label>
                                    <input type="text" class="form-control" id="exchangeName" placeholder="변경할 이름 기입"
                                           name="exchangeName"
                                           pattern="^.*(?=.*[가-힣a-z])(?=.{2,200}).*$" required>
                                    <div class="valid-feedback">완료</div>
                                    <div class="invalid-feedback">2자 10자</div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--        이름 변경 모달        -->
            <br>
            <h5 class="mb-2 control-label">생년 월일 </h5>
            <a href="#"
               class="list-group-item list-group-item-action flex-column align-items-start list-group-item-dark">
                <div class="d-flex w-50 justify-content">
                    <span class="mb-2" th:text="${birthYear}"></span>
                    <span class="mb-2" th:text="${birthMonth}"></span>
                </div>
            </a>

            <br>
            <h5 class="mb-2 control-label">닉네임</h5>
            <a href="#change_nickname"
               class="nav__link list-group-item list-group-item-action flex-column align-items-start"
               data-toggle="modal" style="margin:0">
                <div class="d-flex w-100 height-0 justify-content-end">
                    <small class="badge bg-opacity-20">수정하기</small>
                </div>
                <span class="mb-2" th:text="${member.nickname}"></span>
            </a>
            <!-- 닉네임 변경모달           -->
            <div class="modal fade" id="change_nickname" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">닉네임 변경</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/members/nickname" class="was-validated"
                                  method="post">
                                <br/>
                                <div class="form-group">
                                    <label for="change_nickname">닉네임 기입</label>
                                    <input type="text" class="form-control"
                                           id="nickname"
                                           placeholder="닉네임을 입력해주세요" name="exchangeNickname"
                                           pattern="^.*(?=.*[a-z])(?=.*[a-z\d])(?=.{2,8}).*$"
                                           required>
                                    <div class="valid-feedback">완료</div>
                                    <div class="invalid-feedback">닉네임은 영소문자는 필수, 숫자는 선택으로 2글자 이상, 8글자 이하로 생성해주세요.</div>
                                </div>
                                <button class="btn btn-outline-success" type="button" onclick="nickCheckFunc()">중복확인
                                </button>

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" id="nick-submit" class="btn btn-primary nickname-btn" disabled>
                                    등록
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 닉네임 변경모달           -->

            <br>
            <h5 class="mb-2 control-label">성 별 </h5>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 height-0 justify-content-end">
                    수정하기
                </div>
                <span class="mb-2" th:text="${member.gender}">남성</span>
            </a>

            <br>
            <h5 class="mb-2 control-label">휴대전화</h5>
            <a href="#change_phone" class="list-group-item list-group-item-action flex-column align-items-start"
               data-toggle="modal">
                <div class="d-flex w-100 height-0 justify-content-end">
                    <small class="badge bg-opacity-20">수정하기</small>
                </div>
                <span class="mb-2" th:text="${member.phone}"></span>
            </a>
            <!--        휴대전화 변경 모달       -->

            <div class="modal fade" id="change_phone" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="phoneExLabel">휴대전화 변경</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/members/phone" class="was-validated"
                                  method="post">
                                <br/>
                                <div class="form-group">
                                    <label for="exchangePhone">변경할 휴대전화 번호</label>
                                    <input type="text" class="form-control" id="exchangePhone"
                                           placeholder="010xxxxxxxx" name="exchangePhone" pattern="\d{3}\d{4}\d{4}"
                                           required>
                                    <div class="valid-feedback">완료</div>
                                    <div class="invalid-feedback">휴대전화 형식에 맞지않습니다.</div>
                                    <button id="smsAuthSend" class="btn btn-outline-primary" type="button"
                                            onclick="smsAuth()">인증번호 전송
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label id="inputLabel" for="authInput">인증번호 기입</label>
                                    <br>
                                    <input type="text" id="authInput" name="auth" required>
                                    <button id="smsAuthConfirm" class="btn btn-outline-info" type="button"
                                            onclick="smsConfirm()">확인
                                    </button>
                                    <br>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" id="phone-auth" class=" btn btn-primary" disabled>등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--        휴대전화 변경 모달       -->

            <br>
            <h5 class="mb-2 control-label">비밀번호</h5>
            <a href="#change_pwd" class="nav-link list-group-item list-group-item-action flex-column align-items-start"
               data-toggle="modal">
                <div class="d-flex w-100 height-0 justify-content-end">
                    <small class="badge bg-opacity-20">수정하기</small>
                </div>
                <span class="mb-2">***************</span>
            </a>
            <!--       비밀번호 변경 모달        -->
            <div class="modal fade" id="change_pwd" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">비밀번호 변경</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/members/password" class="was-validated"
                                  method="post">
                                <br/>
                                <div class="form-group">
                                    <label for="currentPwd">현재 비밀번호</label>
                                    <input type="password" class="form-control" id="currentPwd"
                                           placeholder="현재 비밀번호를 입력해주세요" name="currentPwd"
                                           pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()_+=?<>.,/|~`])[A-Za-z\d!@#$%^&*()_+=?<>.,/|~`]{8,}$/"
                                           required>
                                    <div class="valid-feedback">완료</div>
                                    <div class="invalid-feedback">영문 대,소 문자,숫자,특수문자 로 8~50자</div>
                                    <button id="check-current-pwd" type="button" class="btn btn-outline-info"
                                            onclick="pwdCheck()">비밀번호 확인
                                    </button>
                                </div>

                                <div class="form-group">
                                    <label for="exchangePwd">변경할 비밀번호</label>
                                    <input type="password" class="form-control" id="exchangePwd"
                                           placeholder="영대소문자,숫자,특수문자로 구성된 8글자 이상 20글자 이하"
                                           name="exchangePwd"
                                           pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,50}$"
                                           onchange="validatePassword()"
                                           required disabled>
                                </div>
                                <div class="form-group">
                                    <label for="exchangeCheckPwd">변경할 비밀번호 확인</label>
                                    <input type="password" class="form-control" id="exchangeCheckPwd"
                                           placeholder="변경할 비밀번호 확인"
                                           name="exchangeCheckPwd"
                                           pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,50}$"
                                           onchange="validatePassword()"
                                           disabled>
                                    <div class="valid-feedback">완료</div>
                                    <div class="invalid-feedback">영문 대,소 문자,숫자,특수문자 로 8~50자</div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" id="pwd-register" class="btn btn-primary" disabled>등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--       비밀번호 변경 모달        -->


            <br>
            <h5 class="mb-2 control-label">이메일</h5>
            <a href="#changeEmail" class="list-group-item list-group-item-action flex-column align-items-start"
               data-toggle="modal">
                <div class="d-flex w-100 height-0 justify-content-end">
                    <small class="badge bg-opacity-20">수정하기</small>
                </div>
                <span class="mb-2" th:text="${member.email}"></span>
            </a>
            <div class="modal fade" id="changeEmail" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="emailExLabel">이메일 변경</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/members/email" class="was-validated"
                                  method="post">
                                <br/>
                                <div class="form-group">
                                    <label for="exchangeEmail">변경할 이메일</label>
                                    <input type="email" class="form-control" id="exchangeEmail"
                                           placeholder="abc@xxxx.xxx" name="exchangeEmail"
                                           pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*"
                                           required>
                                    <div class="valid-feedback">완료</div>
                                    <div class="invalid-feedback">이메일 형식에 맞지않습니다.</div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <h5 class="mb-2 control-label"> 주소</h5>

            <!-- 주소등록 모달창 -->

            <th:block th:if="${member.addresses.size()} != 10">
                <button class="mb-2 btn btn-outline-primary" data-target="#registerAddress" data-toggle="modal">
                    주소 등록하기
                </button>
            </th:block>
            <div class="modal fade" id="registerAddress" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">주소 등록하기</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/members/addresses" class="was-validated"
                                  method="post">
                                <div class="form-group">
                                    <label for="roadAddress">도로명 주소</label>
                                    <input type="text" class="form-control" id="roadAddress" name="address"
                                           required readonly>
                                    <br>
                                    <button class="btn btn-info" onclick="findAddress()">
                                        우편번호 찾기
                                    </button>
                                    <input type="text" class="form-control" id="address-detail" name="addressDetail"
                                           placeholder="상세주소를 입력해주세요" min="2" max="100"
                                           onchange="checkAddress(this.value)"
                                           disabled
                                           required>
                                    <div class="valid-feedback">완료</div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="submit" id="addressCheck" class="check-address btn btn-primary" disabled>등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <details open="">
                <summary>주소 내역 보기</summary>
                <table id="layerID" class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">도로명 주소</th>
                        <th scope="col">상세 주소</th>
                        <th scope="col">사용중인 주소</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="address,count : ${member.addresses}">
                        <th scope="row" th:text="${count.count}"></th>
                        <td th:text="${address.roadAddress}"></td>
                        <td th:text="${address.addressDetail}"></td>
                        <th:block>
                            <td th:if="${address.addressBased}">
                                기준주소지
                            </td>
                            <td th:unless="${address.addressBased}">
                                <form th:action="'/members/addresses/' +${address.addressNo}"
                                      method="post">
                                    <button type="submit" class="btn btn-outline-info">기준 주소지변경</button>
                                </form>
                                <form th:action="'/members/addresses-delete/' +${address.addressNo}"
                                      method="post">
                                    <button type="submit" class="btn btn-outline-danger">주소 삭제</button>
                                </form>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </details>
        </div>
    </div>
</div>
<div id="tier-info" class="modal-overlay">
    <div id="tier-modal-box">
        <p class="box_title">
            <span class="title-box">Tier <span class="korSub">등급정보</span></span>
            <span class="close-modal" onclick="modalClose()">X</span>
        </p>
        <div class="box_info_cell">
            <ul>
                <li class="popup_info_title">등급</li>
                <li class="popup_info_title">조건</li>
            </ul>
            <ul>
                <li class="popup_info_detail">BASIC</li>
                <li class="popup_info_detail">기본등급</li>
            </ul>
            <ul>
                <li class="popup_info_detail">WHITE</li>
                <li class="popup_info_detail">100,000 이상 주문</li>
            </ul>
            <ul>
                <li class="popup_info_detail">SILVER</li>
                <li class="popup_info_detail">200,000 이상 주문</li>
            </ul>
            <ul>
                <li class="popup_info_detail">GOLD</li>
                <li class="popup_info_detail">300,000 이상 주문</li>
            </ul>
            <ul>
                <li class="popup_info_detail">PLATINUM</li>
                <li class="popup_info_detail">500,000 이상 주문</li>
            </ul>
        </div>
    </div>
</div>
<script>
    let modal = document.getElementById("tier-info");
    function modalOpen() {
        modal.style.display = "flex";
    }

    modal.addEventListener("click", e => {
        const evTarget = e.target
        if (evTarget.classList.contains("modal-overlay")) {
            modal.style.display = "none"
        }
    })

    window.addEventListener("keyup", e => {
        if (modal.style.display === "flex" && e.key === "Escape") {
            modal.style.display = "none"
        }
    })

    function modalClose() {
        modal.style.display = "none"
    }
</script>
<script>
    var exPwd = document.getElementById("exchangePwd");
    var checkPwd = document.getElementById("exchangeCheckPwd");

    function validatePassword() {
        if (exPwd.value !== checkPwd.value) {
            checkPwd.setCustomValidity("패스워드가 일치하지 않습니다.");
        } else {
            checkPwd.setCustomValidity('');
        }
    }

    exPwd.onchange = validatePassword;
    checkPwd = validatePassword;
</script>
<script th:inline="javascript">
    let findTier = (value) => {
        if (value === 'WHITE') {
            return "#CCCCCC"
        } else if (value === 'SLIVER') {
            return "#C0C0C0"
        } else if (value === 'GOLD') {
            return "#FFD700";
        } else if (value === 'PLATINUM') {
            return "#00B4C9";
        } else if (value === 'DIAMOND') {
            return "#CCFFFF";
        } else
            return "#CC9999";
    }

    let layerId = document.getElementById("layerID");

    function LayerView(layerId) {
        layerId.style.visibility = "visible";
    }

    function LayerHiding(layerId) {
        layerId.style.visibility = "hidden";
    }

    //bronze(기본) ,white, silver , gold, platinum, Diamond
    let tierName = [[${member.tierName}]];

    const tier = tierName.toString().toLowerCase();

    document.getElementsByClassName("member-info-tier")
        .item(0)
        .style.background = findTier(tier);

</script>
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
        data-stencil-namespace="ionicons"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"
        data-stencil-namespace="ionicons"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/static/js/mypage/main.js"></script>
<script src="/static/js/mypage/mypage-member.js"></script>

</body>
</html>