<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/mypage/styles.css">
    <link rel='stylesheet'
          href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Latest compiled and minified CSS -->
    <title>BookPub</title>

    <style>


        tr {
            text-align: center;
        }

    </style>

</head>
<body>

<th:block th:include="mypage/fragments/mypageHeader"></th:block>
<th:block th:include="mypage/fragments/mypageSidebar"></th:block>

<div class="body-pd">

    <h2 class="mb-3" style="padding-top: 3%">내 쿠폰함</h2>
    </br>

    <div class="col-12 text-left mt-3"><h4>사용 가능한 쿠폰 리스트</h4></div>

    <span th:if="${positiveList==null}">
            <div class="col-12 text-center mt-3"><h5>보유한 쿠폰이 없습니다.</h5></div>
          </span>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">쿠폰명</th>
            <th scope="col">할인가(할인율)</th>
            <th scope="col">최소주문금액</th>
            <th scope="col">최대할인금액</th>
            <th scope="col">만료일</th>
            <th scope="col">쿠폰 사용여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon: ${positiveList}">
            <td th:text="${coupon.templateName}"></td>
            <td>
                <div th:if="${coupon.policyFixed == true}">
                    <span th:text="${#numbers.formatInteger(coupon.policyPrice,0,'COMMA')} + '원'"></span>
                </div>
                <div th:unless="${coupon.policyFixed == true}">
                    <span th:text="${coupon.policyPrice} + '%'"></span>
                </div>
            </td>
            <td th:text="${#numbers.formatInteger(coupon.policyMinimum,0,'COMMA')} + '원'"></td>
            <td>
                <span th:text="${coupon.maxDiscount != null ? #numbers.formatInteger(coupon.maxDiscount,0,'COMMA') +'원' : '제한없음'}"></span>
            </td>
            <td th:text="${#temporals.format(coupon.finishedAt, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></td>
            <td>
                <div th:if="${coupon.typeName == '포인트'}">
                    <form th:action="@{/members/coupons/{couponNo}/point(couponNo=${coupon.couponNo})}" method="post">
                    <span><button type="submit" class="btn btn-sm btn-outline-dark">사용하기</button></span>
                    </form>
                </div>
                <div th:unless="${coupon.typeName == '포인트'}">
                    <span>사용 가능</span>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!positiveIsPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/members/coupon/positive?(page=(${positiveCurrentPage}-1))}">Previous</a>
            </li>
            <th:block th:with="start=${(positiveCurrentPage/positivePageButtonNum)*positivePageButtonNum + 1}, end=(${(positiveTotalPages == 0) ?
                                 1 : (start + (positivePageButtonNum - 1) < positiveTotalPages ? start + (positivePageButtonNum - 1) : positiveTotalPages)})">
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                    <a class="page-link"
                       th:href="@{/members/coupon/positive?(page=(${page-1}))}"
                       th:text="${page}"></a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!positiveIsNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/members/coupon/positive?(page=(${positiveCurrentPage}+1))}">Next</a>
            </li>
        </ul>
    </nav>


</div>

</body>

<!-- IONICONS -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/static/js/mypage/main.js"></script>
<!-- IONICONS -->

</html>
