<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/mypage/styles.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <title>SideBar sub menus</title>
</head>
<body id="body-pd">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Pub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">홈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">1번 메뉴</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">2번 메뉴</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">3번 메뉴</a>
            </li>
        </ul>
    </div>
</nav>
<!--    <div class="myPageHeader" style="background: rgb(18,25,44); height: 130px">-->
<!--        -->
<!--    </div>-->
<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="#" class="nav__logo">Book-Pub</a>
            </div>
            <div class="nav__list">
                <a href="#" class="nav__link active">
                    <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">메뉴 홈</span>
                </a>
                <a href="#" class="nav__link">
                    <ion-icon name="chatbubbles-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">메신저</span>
                </a>

                <div href="#" class="nav__link">
                    <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">내 정보</span>
                </div>

                <a href="#" class="nav__link">
                    <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">주문내역</span>
                </a>

                <div href="#" class="nav__link collapse">
                    <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Team</span>

                </div>

                <a href="#" class="nav__link">
                    <ion-icon name="settings-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Settings</span>
                </a>
            </div>
            <a href="#" class="nav__link">
                <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                <span class="nav_name">Log out</span>
            </a>
        </div>
    </nav>
</div>

<div class="myPageBody">
    <h1>Componentes</h1>

</div>

<!-- IONICONS -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<!-- JS -->
<script src="/static/js/mypage/main.js"></script>
</body>
</html>