<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BookPub</title>
    <link rel="stylesheet" href="/static/css/mypage/styles.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>

</head>
<body>
<th:block th:include="mypage/fragments/mypageSidebar"></th:block>


<div class="container" style="padding-top: 1%; padding-bottom: 3%">
    <h2 style="padding-top: 2%;">E-Book</h2>

    <hr/>
    <br/>

    <div th:each="product: ${products}">
        <div class="well well-lg" style="width: 90%; margin: auto">
            <div class="row">
                <div class="col-sm-3">
                    <a th:href="@{/products/{productNo}(productNo=${product.productNo})}">
                        <span class="img-thumbnail" style="width: 200px; height: 250px"
                              th:if="${#strings.isEmpty(product.thumbnail)}">
                            <img class="img_thumbnail" style="width: 100%; height: 100%; object-fit: cover;"
                                 src="/static/img/main/no-image.png">
                        </span>
                        <span class="img-thumbnail" style="width: 200px; height: 250px"
                              th:if="${not #strings.isEmpty(product.thumbnail)}">
                            <img class="img_thumbnail" style="width: 100%; height: 100%; object-fit: cover;"
                                 th:src="@{${product.getThumbnail()}}" alt="No image">
                        </span>
                    </a>
                </div>

                <div class="col-sm-3">
                    <h4 th:text="'-' + ${product.title} + '-'"></h4>
                    <div class="row" style="padding-left: 10px">
                        <label>카테고리 : </label>
                        <span th:each="category: ${product.categories}">
                            <span th:text="${category}"></span>
                        </span>
                    </div>
                    <div class="row" style="padding-left: 10px">
                        <label>저자 : </label>
                        <span th:each="author: ${product.authors}">
                            <span th:text="${author}"></span>
                        </span>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="row" style="text-align: right">
                        <a th:href="${product.ebook}" download target="_blank">다운로드</a>
                    </div>

                </div>
            </div>
        </div>
        <br/>

    </div>

    <div>

        <nav style="text-align: center">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!isPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/orders/ebooks?(page=(${currentPage} - 1))}">Previous</a>
                </li>
                <th:block th:with="start=${(currentPage/pageButtonNum)*pageButtonNum + 1}, end=(${(totalPages == 0) ?
                                 1 : (start + (pageButtonNum - 1) < totalPages ? start + (pageButtonNum - 1) : totalPages)})">
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                        <a class="page-link"
                           th:href="@{/orders/ebooks?(page=(${page - 1}))}"
                           th:text="${page}"></a></li>
                </th:block>
                <li class="page-item" th:classappend="${!isNext} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/orders/ebooks?(page=(${currentPage} + 1))}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
</body>
</html>