<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookPub - Login</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/main/login.css" rel="stylesheet">
    <script src="../../static/js/main/signup.js"></script>

</head>
<body>
<div id="body">
    <section class="login-block">
        <div class="login-container">
            <div class="custom-row">
                <div class="login-sec">
                    <h2 class="text-center">로그인</h2>
                    <form class="login-form" action="/auth" method="post">
                        <div class="form-group">
                            <label for="bookpub-id" class="text-uppercase">아이디</label>
                            <input id="bookpub-id" name="id" type="text" class="form-control" placeholder="tagkdj1">

                        </div>
                        <div class="form-group">
                            <label for="bookpub-pwd" class="text-uppercase">패스워드</label>
                            <input id="bookpub-pwd" name="pwd" type="password" class="form-control"
                                   placeholder="Abc123!@#">
                        </div>
                        <div class="login-form-check" style="gap: 10px">
                            <button type="submit" class="btn btn-login float-right">로그인</button>
                            <button type="button" class="btn btn-outline-dark float-right"
                                    onclick=location.href='/signup'>회원가입
                            </button>
                        </div>
                        <div style="display: flex;flex-direction: column;gap: 7px;padding: 20px 0;">
                            <button type="button" class="btn btn-outline-dark float-right"
                                    style="background-color: #0bc759;" id="naver">
                                <img style="width: 20px; margin-right: 2px;" src="/static/img/main/naver.png">네이버 로그인
                            </button>
                            <button type="button" class="btn btn-outline-dark float-right"
                                    style="background-color: #fee401;" id="kakao">
                                <img style="width: 25px" src="/static/img/main/kakao.png">카카오 로그인
                            </button>
                            <button type="button" class="btn btn-outline-dark float-right"
                                    style="background-color: #c9c5c5;" id="github">
                                <img style="width: 20px;margin-right: 2px;" src="/static/img/main/github.png">
                                깃허브 로그인
                            </button>
                        </div>


                    </form>
                    <script src="/static/js/member/login.js"></script>
                    <div id="name"></div>
                    <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a
                            href="http://book-pub.shop">북펍</a>
                    </div>
                </div>
                <div class="col-md-8 banner-sec" style="display: flex;justify-content: center;align-items: center;">
                    <div class="carousel-item active" style="height: 85vh;">
                        <img src="/static/img/main/loginImage.jpeg" style="width: 100%; height: 100%"
                             alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="banner-text">
                                <h2>북펍에 오신걸 환영합니다</h2>
                                <p>수천권의 서적들과 ebook 자료들을 가장 먼저 만나볼 수 있는 공간</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>