<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <!-- Custom stlylesheet -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <link rel="stylesheet" href="/static/css/main/signupComplete.css"/>
</head>
<body>
<th:block th:include="main/fragments/rootHeader"/>

<div class="welcome">
    <img style="width: 200px; margin-top:40px;" src="/static/img/main/bookpub-logo-black.png"/>
    <div class="complete">
        <h1>
            북펍의 회원이 되신걸 환영합니다.
        </h1>
        <div class="memberInfo">
            <div class="info" style="display: flex">
                <span>가입 아이디 :&nbsp;</span>
                <span th:text=" ${member.memberId}"></span>
            </div>
            <div class="info" style="display: flex">
                <span>회원 등급 :&nbsp;</span>
                <span th:text=" ${member.tierName}"></span>
            </div>
        </div>
    </div>
    <div class="complete_sub">
        <span>회원가입이 성공적으로 완료되었습니다.</span>
        <span>북펍 공식 온라인 스토어의 다양한 서비스를 이용해보세요.</span>
    </div>
    <div class="complete_sub2">
        <span>지금 "신규 가입 축하 1만원 쿠폰"이 발급되었습니다.</span>
        <span>지금 마이페이지에서 확인하세요.</span>
        <span>(쿠폰 사용기간 : 발급일로부터 30일)</span>
    </div>
    <div class="btn-container">
        <a href="/login" class="btnSubmit">로그인하러 가기</a>
        <a href="/" class="btnSubmit">메인 화면으로 가기</a>
    </div>
</div>
<th:block th:include="main/fragments/rootFooter"/>
<script src="/static/js/main/jquery.min.js"></script>
<script src="/static/js/main/bootstrap.min.js"></script>
<script src="/static/js/main/slick.min.js"></script>
<script src="/static/js/main/nouislider.min.js"></script>
<script src="/static/js/main/jquery.zoom.min.js"></script>
<script src="/static/js/main/main.js"></script>
</body>
</html>

