<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="l-navbar" id="navbar">

    <nav class="nav">
        <div>
            <div class="nav__brand">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <a href="/" class="nav__logo">Book-Pub</a>
            </div>
            <div class="nav__list">
                <a href="/members" class="nav__link">
                    <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">내 정보</span>
                </a>

                <a href="/members/point" class="nav__link">
                    <ion-icon name="logo-usd" class="nav__icon"></ion-icon>
                    <span class="nav_name">포인트</span>
                </a>

                <a href="/orders/ebooks" class="nav__link">
                    <ion-icon name="book-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">E-Book</span>
                </a>

                <a href="/members/wishlist" class="nav__link">
                    <ion-icon name="heart-circle-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">위시리스트</span>
                </a>

                <div href="#" class="nav__link collapse show">
                    <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">내 쿠폰함</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="/members/coupon/positive"
                           class="collapse__sublink">사용 가능 쿠폰</a>
                        <a href="/members/coupon/negative"
                           class="collapse__sublink">사용 만료 쿠폰</a>
                    </ul>
                </div>

                <a href="/members/written-reviews" class="nav__link">
                    <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">마이 리뷰</span>
                </a>

                <div href="#" class="nav__link collapse show">
                    <ion-icon name="folder-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">문의</span>

                    <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                    <ul class="collapse__menu">
                        <a href="/members/inquiries"
                           class="collapse__sublink">상품 문의 내역</a>
                        <a href="/members/personal-inquiries"
                           class="collapse__sublink">1:1 문의 및 내역</a>
                    </ul>
                </div>

                <a href="/orders/list" class="nav__link">
                    <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">주문내역</span>
                </a>

                <a href="/logout" class="nav__link">
                    <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Log out</span>
                </a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>