<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookPub</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>

<th:block th:include="main/fragments/rootHeader"></th:block>


<div class="container" style="padding-top: 3%; padding-bottom: 5%">
    <h2 class="text-center">장바구니</h2>

    <table class="table">
        <thead>
        <tr class="bg-info">
            <th class="text-center">
                <input type='checkbox' name='productAll' value='selectAll' onclick='selectAll(this)'/> <b>전체선택</b>
            </th>
            <th class="text-center" style="width:50%">상품</th>
            <th class="text-center" style="width:10%">판매가</th>
            <th class="text-center" style="width:10%">수량</th>
            <th class="text-center" style="width:20%">총 가격</th>
            <th class="text-center" style="width:20%">비고</th>
        </tr>
        </thead>
        <tbody id="cart">
        <tr th:each="product: ${products}">
            <td>
                <input type="checkbox" id="checked" name="product" checked></td>
            <td>
                <b id="productNo" th:text="${product.productNo}" style="display: none"></b>
                <div class="row">
                    <div class="col-sm-2">
                        <div th:if="${product.thumbnail} != null">
                            <img width="200px" height="400px" th:src="${product.thumbnail}" alt=""
                                 class="img-thumbnail cursor">
                        </div>
                        <div th:unless="${product.thumbnail} != null">
                            <img src="/static/img/main/no-image.png" alt="" class="img-thumbnail cursor">
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <h4 th:text="${product.title}"></h4>
                        <p th:text="${product.productPublisher}"></p>
                    </div>
                </div>
            </td>
            <td style="text-align: center!important; vertical-align: middle"
                th:id="'originPrice' + ${product.productNo}"
                th:text="|${#numbers.formatInteger(product.salesPrice, 0, 'COMMA')}원|"></td>
            <td style="vertical-align: middle;">
                <input th:if="${product.ebook != null}" type="number" th:id="'num'+${product.productNo}" name="number" readonly value="1"
                       class="form-control text-right"
                       th:onchange="totalPrice(this.value, [[${product}]])">
                <input th:if="${product.ebook == null}" type="number" th:id="'num'+${product.productNo}" name="number" min="1" max="99" value="1"
                       class="form-control text-right"
                       th:onchange="totalPrice(this.value, [[${product}]])">
            </td>
            <td style="text-align: center!important; vertical-align: middle" th:id="'totalPrice' + ${product.productNo}"
                th:text="|${#numbers.formatInteger(product.salesPrice, 0, 'COMMA')}원|"></td>
            <td style="text-align: center!important; vertical-align: middle">
                <form th:action="@{/cart/{productNo}(productNo=${product.productNo})}" method="post">
                    <button class="btn btn-warning">
                        삭제
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><a href="/" class="btn" style="background-color: #fff7ce">
                <i class="fa fa-angle-left"></i> 계속 쇼핑하기</a></td>
            <td colspan="4" class="hidden-xs"></td>

            <td>
                <button class="btn btn-block" style="background-color: #5055b1; border: 1px solid #5055b1; color: #fff"
                        type="submit" onclick="order()"> 주문하기
                    <i class="fa fa-angle-right"></i></button>
            </td>
        </tr>
        </tfoot>
    </table>


</div>

<th:block th:include="main/fragments/rootFooter"></th:block>

</body>

<script src="/static/js/cart/cart.js"></script>
<script src="/static/js/main/main.js"></script>

</html>