<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <link rel="stylesheet" href="/static/css/payment/payment.css"/>
    <link rel="stylesheet" href="/static/css/order/main.css">

    <!-- js-->
    <script src="https://js.tosspayments.com/v1/payment"></script>
    <script src="/static/js/payment/main.js"></script>
    <script src="../../static/js/order/order.js"></script>

</head>
<body>
<th:block th:include="main/fragments/rootHeader"></th:block>

<div id="order-main">
    <div class="contents_inner">
        <h1 id="header-h1-text" style="margin:40px 0 !important;">결제</h1>
        <div class="cart_body_payment" style="min-height: calc(100vh - 35rem) !important;">
            <div class="cart_body_inner">
                <section>
                    <div class="payment_body_wrap">
                        <span class="order-info" style="font-size: 19px;">주문 정보</span>

                        <table class="tbl_prod">
                            <colgroup>
                                <col style="width: 210px">
                                <col style="width: auto">
                            </colgroup>
                            <thead class="hidden">
                            <tr>
                                <th scope="col">컬럼</th>
                                <th scope="col">내용</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="order-index">주문상품</td>
                                <td class="order-content" th:text="${order.orderName}"></td>
                            </tr>
                            <tr>
                                <td class="order-index">주문인</td>
                                <td class="order-content" th:text="${order.buyerName}"></td>
                            </tr>
                            <tr>
                                <td class="order-index">수령인</td>
                                <td class="order-content" th:text="${order.recipientName}"></td>
                            </tr>
                            <tr>
                                <td class="order-index">배송지</td>
                                <td class="order-content" th:text="${order.addressBase +' '+ order.addressDetail}"></td>
                            </tr>
                            <tr>
                                <td class="order-index">도착 예정일</td>
                                <td class="order-content" th:text="${order.receivedAt}"></td>
                            </tr>
                            <tr style="border-bottom: none !important;">
                                <td class="order-index">배송 요청사항</td>
                                <td class="order-content" th:text="${order.orderRequest}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </section>
                <div class="cart_info_wrap">
                    <div class="payments_info_area">
                        <div class="payments_info_box">
                            <h2 class="hidden">결제금액</h2>
                            <ul class="payments_info_list">
                                <li class="payments_info_item">
                                    <p class="label2">총 결제금액</p>
                                    <div class="right_box">
                                    <span class="price">
                                        <span class="val spot" id="total-amount" th:text="${#numbers.formatInteger(order.totalAmount,0,'COMMA')}"></span>
                                        <span class="unit">원</span>
                                    </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn_wrap full" style="flex-direction: column">
                            <div>
                                <button type="button" class="btn btn-primary pay-btn"
                                        th:onclick="paymentBtn('카드', [[${toss}]], [[${order}]])" id="card">
                                    <span class="text">카드결제</span>
                                </button>
                                <button type="button" class="btn btn-primary pay-btn" disabled
                                        th:onclick="paymentBtn('휴대폰', [[${toss}]], [[${order}]])" id="phone">
                                    <span class="text">휴대폰결제</span>
                                </button>
                                <button type="button" class="btn btn-primary pay-btn" disabled
                                        th:onclick="paymentBtn('간편결제', [[${toss}]], [[${order}]])" id="easy">
                                    <span class="text">간편결제</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="main/fragments/rootFooter"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="/static/js/main/jquery.min.js"></script>
<script src="/static/js/main/bootstrap.min.js"></script>
<script src="/static/js/main/slick.min.js"></script>
<script src="/static/js/main/nouislider.min.js"></script>
<script src="/static/js/main/jquery.zoom.min.js"></script>
<script src="/static/js/main/main.js"></script>
</body>
</html>