<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BookPub</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
        rel="stylesheet"/>

  <link rel="stylesheet" href="../static/css/admin/adminStyle.css">

  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
          crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</head>
<body class="sb-nav-fixed">

<div id="layoutSidenav">
  <th:block th:include="admin/fragments/adminHeader"/>
  <th:block th:include="admin/fragments/adminNavigationBar"/>

  <div class="modal fade" id="categoryAddModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">카테고리 등록</h3>
        </div>
        <div class="modal-body">
          <form action="/admin/categories" class="was-validated" method="post">
            <div class="form-group">
              <label for="addCategoryName">카테고리 이름</label>
              <input type="text" class="form-control" id="addCategoryName" placeholder="카테고리 이름"
                     name="categoryName" minlength="1" maxlength="10" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">최소 1글자, 최대 10글자</div>
            </div>

            <br/>

            <div class="form-group">
              <label>상위 카테고리</label>
              <select name="parentCategoryNo" class="form-select">
                <option value="">-- 상위 카테고리 --</option>
                <option th:each="category : ${parentCategories}"
                        th:value="${category.categoryNo}" th:text="${category.categoryName}">
                </option>
              </select>
            </div>
            <br/>

            <div class="form-group">
              <label for="addCategoryPriority">카테고리 우선 순위 </label>
              <input type="text" class="form-control" id="addCategoryPriority" placeholder="0"
                     name="categoryPriority" th:value="0" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">0 이상 입력</div>
            </div>

            <br/>
            <div class="form-group">
              <label>공개 여부</label>
              <select name="categoryDisplayed" class="form-select">
                <option th:value="true" selected>YES</option>
                <option th:value="false">NO</option>
              </select>
            </div>
            <br/>
            <button type="button" class="btn btn-light" data-dismiss="modal"
                    style="margin-left:70%;">취소
            </button>
            <button type="submit" class="btn btn-primary">등록</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="categoryModifyModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">카테고리 수정</h3>
        </div>
        <div class="modal-body">
          <form action="/admin/categories/modify" class="was-validated" method="post">
            <div class="form-group">
              <lable for="modifyCategoryNo">변경할 카테고리 번호</lable>
              <input type="text" class="form-control" id="modifyCategoryNo" placeholder="카테고리 번호"
                     name="categoryNo" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">번호를 입력 해주세요.</div>
            </div>

            <div class="form-group">
              <label for="modifyCategoryName">카테고리 이름</label>
              <input type="text" class="form-control" id="modifyCategoryName" placeholder="변경할 이름"
                     name="categoryName" minlength="1" maxlength="10" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">최소 1글자, 최대 10글자</div>
            </div>

            <div class="form-group">
              <label>상위 카테고리</label>
              <select name="parentCategoryNo" class="form-select">
                <option value="">-- 상위 카테고리 --</option>
                <option th:each="category : ${parentCategories}"
                        th:value="${category.categoryNo}" th:text="${category.categoryName}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="modifyCategoryPriority">카테고리 우선 순위 </label>
              <input type="text" class="form-control" id="modifyCategoryPriority" placeholder="0"
                     name="categoryPriority" th:value="0" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">0 이상 입력</div>
            </div>

            <div class="form-group">
              <label>공개 여부</label>
              <select name="categoryDisplayed" class="form-select">
                <option th:value="true" selected>YES</option>
                <option th:value="false">NO</option>
              </select>
            </div>

            <button type="button" class="btn btn-light" data-dismiss="modal"
                    style="margin-left:70%;">취소
            </button>
            <button class="btn btn-primary">등록</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">카테고리 목록</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">카테고리 등록, 수정</li>
        </ol>

        <hr/>

        <div align="right">
          <button class="btn btn-primary float-right" data-toggle="modal"
                  data-target="#categoryAddModal">카테고리 등록
          </button>
          <button class="btn btn-primary float-right" data-toggle="modal"
                  data-target="#categoryModifyModal">카테고리 수정
          </button>
        </div>
        <br/>

        <div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>카테고리 번호</th>
              <th>카테고리 이름</th>
              <th>상위 카테고리</th>
              <th>우선순위</th>
              <th>공개</th>
            </tr>
            </thead>
            <tbod>
              <tr th:each="category : ${categoryList}">
                <td th:text="${category.categoryNo}"></td>
                <td th:text="${category.categoryName}"></td>
                <td th:if="${category.parent != null}"
                    th:text="${category.parent.categoryName}"></td>
                <td th:unless="${category.parent != null}"></td>
                <td th:text="${category.categoryPriority}"></td>
                <td th:text="${category.categoryDisplayed} ? 'Yes' : 'No'"></td>
              </tr>
            </tbod>
          </table>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" th:classappend="${!isPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/categories?(page=(${currentPage}-1))}">Previous</a>
              </li>
              <th:block th:with="start=${(currentPage/pageButtonNum)*pageButtonNum + 1}, end=(${(totalPages == 0) ?
                                 1 : (start + (pageButtonNum - 1) < totalPages ? start + (pageButtonNum - 1) : totalPages)})">
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                  <a class="page-link" th:href="@{/admin/categories?(page=(${page-1}))}"
                     th:text="${page}"></a></li>
              </th:block>
              <li class="page-item" th:classappend="${!isNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/admin/categories?(page=(${currentPage}+1))}">Next</a>
              </li>
            </ul>
          </nav>

        </div>

      </div>

    </main>


    <th:block th:include="admin/fragments/adminFooter"/>
  </div>


</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/static/js/admin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
        crossorigin="anonymous"></script>
<script src="/static/js/admin/chart-area-demo.js"></script>
<script src="/static/js/admin/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
        crossorigin="anonymous"></script>
<script src="/static/js/admin/datatables-simple-demo.js"></script>

</html>
