<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 관리</title>
    <link type="text/css" rel="stylesheet" href="/static/css/mypage/orderdetail.css">
    <link rel="stylesheet" href="/static/css/admin/adminStyle.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
<div id="layoutSidenav">
    <th:block th:include="admin/fragments/adminHeader"/>
    <th:block th:include="admin/fragments/adminNavigationBar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header" style="justify-content: center">
                    <h1 class="mb-3 sm">주문 목록</h1>
                </div>

                <div class="card-body" style="display: flex;flex-direction: column;">
                    <div style="display: flex; flex-direction: column; gap: 8px">
                        <div class="order_summary_box" th:each="order : ${orderList}">
                            <div class="box_header"
                                 th:onclick="|location.href='/orders?orderNo=${order.orderNo}'|">
                                <div class="label">
                        <span class="order_date"
                              th:text="${#temporals.format(order.createdAt, 'yyyy.MM.dd HH:mm')}"></span>
                                    <span class="gap">|</span>
                                    <span class="order_num" th:if="not ${#strings.isEmpty(order.memberId)}">회원ID
                                        <span class="num"
                                              th:text="${order.getMemberId()}"></span>
                                    </span>
                                    <span class="order_num" th:if="${#strings.isEmpty(order.memberId)}">회원ID
                                        <span class="num">비회원</span>
                                    </span>
                                    <span class="gap">|</span>
                                    <span class="order_num">주문번호 <span class="num"
                                                                       th:text="${order.orderNo}"></span></span>
                                    <span class="gap">|</span>
                                    <span class="order_num">송장번호 <span class="num"
                                                                       th:text="${order.invoiceNo}"></span></span>
                                    <span class="gap">|</span>
                                    <span class="order_num">상태 <span class="num"
                                                                     th:text="${order.orderState}"></span></span>
                                    <span class="gap">|</span>
                                    <span class="order_num">결제금액 <span class="num"
                                                                       th:text="${#numbers.formatInteger(order.totalAmount,0,'COMMA')}"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <th:block th:with="start=${(currentPage/pageButtonNum)*pageButtonNum + 1}, end=(${(totalPages == 0) ?
                                 1 : (start + (pageButtonNum - 1) < totalPages ? start + (pageButtonNum - 1) : totalPages)})">
                        <li class="page-item">
                            <a class="page-link" href="/admin/orders/list?page=0">처음</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:if="${start > 1}"
                               th:href="'/admin/orders/list?page='+${start - pageButtonNum -1}">
                                이전</a>
                            <a class="page-link" th:if="${start <= 1}" style="cursor: not-allowed; color: gray;"
                               href="javascript:void(0)">이전</a>
                        </li>
                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:href="@{/admin/orders/list(page=(${page}-1))}"
                               th:text="${page}"></a></li>

                        <li class="page-item">
                            <a class="page-link" th:if="${end < totalPages}"
                               th:href="'/admin/orders/list?page='+${start + pageButtonNum}">다음</a>
                            <a class="page-link" th:if="${end >= totalPages}" style="cursor: not-allowed; color: gray;"
                               href="javascript:void(0)">다음</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="'/admin/orders/list?page='+${totalPages - 1}">마지막</a>
                        </li>
                    </th:block>
                </ul>
            </nav>

        </main>
        <th:block th:include="admin/fragments/adminFooter"/>
    </div>
</div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
        data-stencil-namespace="ionicons"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"
        data-stencil-namespace="ionicons"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/static/js/mypage/main.js"></script>
</html>