<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문 관리</title>
    <link rel="stylesheet" href="/static/css/admin/adminStyle.css">
    <link rel="stylesheet" href="/static/css/mypage/styles.css">

    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/mypage/orderdetail.css">

    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <link rel='stylesheet'
          href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
</head>

<body class="sb-nav-fixed">
<div id="layoutSidenav">
    <th:block th:include="admin/fragments/adminHeader"/>
    <th:block th:include="admin/fragments/adminNavigationBar"/>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card-header" style="justify-content: center">
                    <h1 class="mb-3 sm">주문 목록</h1>
                </div>

                <div class="card-body" style="display: flex;flex-direction: column;">
                    <div style="display: flex;gap: 7px;padding-bottom: 13px;">
                        <a class="btn btn-outline-primary justify-content-end float-sm-end col-sm-2"
                           th:href="'/admin/tiers/add'">가격정책조회</a>
                        <a class="btn btn-outline-primary justify-content-end float-sm-end col-sm-2"
                           th:href="'/admin/tiers/add'">주문상태조회</a>
                        <a class="btn btn-outline-primary justify-content-end float-sm-end col-sm-2"
                           th:href="'/admin/tiers/add'">주문조회</a>
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px">
                        <div class="order_summary_box" th:each="order : ${orderList}">
                            <div class="box_header"
                                 th:onclick="|location.href='../orders?orderNo=${order.getOrderNo()}'|">
                                <div class="label">
                        <span class="order_date"
                              th:text="${#temporals.format(order.getCreatedAt(), 'yyyy.MM.dd HH:mm')}"></span>
                                    <span class="gap">|</span>
                                    <span class="order_num" th:if="not ${#strings.isEmpty(order.getMemberId())}">회원ID
                                        <span class="num"
                                              th:text="${order.getMemberId()}"></span>
                                    </span>
                                    <span class="gap">|</span>
                                    <span class="order_num">주문번호 <span class="num"
                                                                       th:text="${order.getOrderNo()}"></span></span>
                                    <span class="gap">|</span>
                                    <span class="order_num">송장번호 <span class="num"
                                                                       th:text="${order.getInvoiceNo()}"></span></span>
                                    <span class="gap">|</span>
                                    <span class="order_num">상태 <span class="num"
                                                                     th:text="${order.getOrderState()}"></span></span>
                                    <span class="gap">|</span>
                                    <span class="order_num">결제금액 <span class="num"
                                                                       th:text="${order.getTotalAmount()}"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav style="text-align: center">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!isPrevious} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/orders/list?page=(${currentPage}-1)}">Previous</a>
                    </li>
                    <th:block th:with="start=${(currentPage/pageButtonNum)*pageButtonNum + 1}, end=(${(totalPages == 0) ?
                                 1 : (start + (pageButtonNum - 1) < totalPages ? start + (pageButtonNum - 1) : totalPages)})">
                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                            <a class="page-link"
                               th:href="@{/admin/orders/list?page=(${page - 1})}"
                               th:text="${page}"></a></li>
                    </th:block>
                    <li class="page-item" th:classappend="${!isNext} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/admin/orders/list?page=(${currentPage + 1})}">Next</a>
                    </li>
                </ul>
            </nav>

        </main>
        <th:block th:include="admin/fragments/adminFooter"/>
    </div>
</div>
</body>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<script src="/static/js/mypage/main.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"
        data-stencil-namespace="ionicons"></script>
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</html>