
#order-modal-container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}

.modal_box1 {
    background-color: #f4ede7e3;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    width: 73rem;
    height: 60rem;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    gap: 20px;
}

#body-inner {
    padding: 24px;
}

#receipt-btn {
    padding: 8px;
    background-color: #ffeaed;
    border: 0.4px solid #ff3c3c;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}

#payment-header {
    border-bottom: 2px solid black;
    display: flex;
    padding: 0 0 24px 0;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 20px 0 15px 12px;
}

h3 {
    margin: 0;
}


#payment-footer {
    display: flex;
    border-top: 2px solid black;
    gap: 12px;
    justify-content: center;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}

.footer-btn {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 14px;
    border: 0.4px solid #5c5c5c;
}

.order-index {
    font-size: 18px;
    padding: 14px 0 5px 12px;
    font-weight: 550;
}

.order-content {
    padding: 14px 0 5px 12px;
    font-weight: 500;
    font-size: 16px;
}

#btn-box {
    display: flex;
    gap: 15px;
}


#loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

#click {
    background-color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 14px;
    border: 1px solid #7f7f7f;
}

#click:hover {
    background-color: #dcdcdc;
}

.modal-btn-box {
    display: flex;
    padding-bottom: 20px;
    justify-content: end;
    padding-right: 2rem;
}