<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book-Pub</title>
    <link rel="stylesheet" href="/static/css/mypage/point.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/nouislider.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/main/root/style.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function typeAll() {
            window.location.href = "/services/faq"
        }

        function typeUsing() {
            window.location.href = "/services/faq?category=faqUsing"
        }

        function typeAccount() {
            window.location.href = "/services/faq?category=faqAccount"
        }

        function typePayment() {
            window.location.href = "/services/faq?category=faqPayment"
        }

        function typeOthers() {
            window.location.href = "/services/faq?category=faqOthers"
        }
    </script>
</head>

<body>
<th:block th:include="main/fragments/rootHeader"></th:block>

<div id="container" style="width: 60%; margin-left: 20%; padding-bottom: 5%">
    </br>
    <div style="position: relative">
        <h2 style="border-bottom: 2px solid black;padding: 1rem 0;">FAQ - 자주 묻는 질문</h2>
    </div>
    <div>
        <div class="pointList-select-box">
            <button class="point-select bold" value="1" onclick="typeAll()">전체</button>
            <button class="point-select bold" value="faqNormal" onclick="typeUsing()">이용 문의</button>
            <button class="point-select bold" value="faqMember" onclick="typeAccount()">계정 문의</button>
            <button class="point-select bold" value="faqPayment" onclick="typePayment()">결제 문의</button>
            <button class="point-select bold" value="faqOthers" onclick="typeOthers()">기타 문의</button>

        </div>
        <div style="margin-top: 26px">
            <div class="point-tr-header">
                <div class="point-td-header">분류</div>
                <div class="point-td-header">제목</div>
                <div class="point-td-header">작성일시</div>
            </div>
            <div class="point-tr-body">
                <div class="center"
                     th:text="${service.serviceCategory}"></div>
                <div class="left" th:text="${service.serviceTitle}"></div>
                <div class="center" th:text="${#temporals.format(service.createdAt, 'yyyy.MM.dd')}"></div>
            </div>
            <div>
                <span style="width: 100%; height: 250px; " th:if="${not #strings.isEmpty(service.image)}">
                        <img style="width: 60%; height: 250px; object-fit: cover;" th:src="@{${service.image}}"
                             alt="No image">
                        </span>
                <div id="viewer"></div>
                <button class="btn" type="button" onclick="window.history.back()">뒤로가기</button>
            </div>
        </div>
    </div>
</div>
<p id="editor-hidden" style="display: none" th:text="${service.serviceContent}"></p>


<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const viewer = toastui.Editor.factory({
        el: document.querySelector('#viewer'),
        viewer: true
    });

    let elem = document.getElementById('editor-hidden');
    viewer.setMarkdown(elem.textContent);
</script>

<script src="/static/js/main/jquery.min.js"></script>
<script src="/static/js/main/bootstrap.min.js"></script>
<script src="/static/js/main/slick.min.js"></script>
<script src="/static/js/main/nouislider.min.js"></script>
<script src="/static/js/main/jquery.zoom.min.js"></script>
<script src="/static/js/main/main.js"></script>
</body>
</html>