<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <style>
        #category-list-div {
            min-width: 15rem;
        }

        #nav-category:hover > #category-list-div {
            display: flex;
        }

        .ma-r {
            margin-right: 0.2rem;
        }
    </style>
</head>
<body>
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><i class="fa fa-phone"></i>
                    <span style="color: aliceblue"> 010-1234-1234</span>
                </li>
                <li><i class="fa fa-envelope-o"></i><span style="color: aliceblue"> book-pub@gmail.com</span></li>
                <li><i class="fa fa-map-marker"></i><span style="color: aliceblue"> Korea</span></li>
            </ul>
            <ul class="header-links pull-right">
                <li>
                    <a sec:authorize="isAnonymous()" class="nav-link" style="color: white" href="/login">로그인</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" style="color: white" href="/logout">로그아웃</a>
                </li>

                <li class="nav-item">
                    <a sec:authorize="isAnonymous()" class="nav-link" style="color: white" href="/signup">회원가입</a>
                    <a sec:authorize="isAuthenticated()" class="nav-link" style="color: white" th:href="'/members/' + ${#authentication.principal}">마이페이지</a>
                </li>
            </ul>
        </div>
    </div>

    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="/static/img/main/bookpub-logo-black.png" height="130"
                                 width="170" alt=""
                                 style="filter: invert()">
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <select class="input-select">
                                <option value="0">통합 검색</option>
                                <option value="1">저자 검색</option>
                                <option value="1">제목 검색</option>
                            </select>
                            <input class="input" placeholder="Search here">
                            <button class="search-btn">검색</button>
                        </form>
                    </div>
                </div>

                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>찜 목록</span>
                                <!--                                <div class="qty">2</div>-->
                            </a>
                        </div>

                        <div class="dropdown">
                            <a href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>장바구니</span>
                                <div class="qty" th:text="${cartCount}"></div>
                            </a>

                        </div>

                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="/">홈</a></li>

                    <li id="nav-category">
                        <a href="#">분야찾기</a>
                        <div id="category-list-div" class="dropdown-menu" style="padding: 0">
                            <div
                                style="width: 14rem; align-items: center; display: flex; flex-direction: column"
                                th:each="parent: ${category}"
                                th:classappend="${parentStat.last ? '' : 'ma-r'}">
                                <div
                                    style="background-color: #D10024; width: 100%; padding: 1rem; text-align: center">
                                    <a class="fw-bolder bg-black"
                                       th:href="@{/categories/{id}(id=${parent.categoryNo})}"
                                       th:text="${parent.categoryName}"
                                       style="color: white; font-weight: bold; font-size: 1.5rem"></a>
                                </div>
                                <div th:each="child: ${parent.childList}"
                                     style="margin-top: 1rem; margin-bottom: 1rem">
                                    <a th:href="@{/categories/{id}(id=${child.categoryNo})}"
                                       th:text="${child.categoryName}"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="#">베스트셀러</a></li>
                    <li><a href="#">신간도서</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">이벤트</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">이달의 쿠폰</a></li>
                            <li><a href="#">등급별 쿠폰</a></li>
                        </ul>
                    </li>
                    <li><a href="#">추천도서</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>