<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


</head>
<body>
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">관리자메뉴</div>

                <!--      --------------------------------------------------------------------------          -->
                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseMembers"
                   aria-expanded="false" aria-controls="collapseMembers">
                    <div class="sb-nav-link-icon"><i class="fas fa-circle-user"></i></div>
                    회원
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseMembers" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/members">회원목록</a>
                        <a class="nav-link" href="/admin/tiers">회원등급목록</a>
                        <a class="nav-link" href="/admin/authors">저자목록</a>
                    </nav>
                </div>

                <!--      --------------------------------------------------------------------------          -->

                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseProducts"
                   aria-expanded="false" aria-controls="collapseProducts">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    상품
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseProducts" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/product/product-policies">상품정책</a>
                        <a class="nav-link" href="/admin/products">상품목록</a>
                        <a class="nav-link" href="/admin/subscribes">구독목록</a>
                        <a class="nav-link" href="/admin/tags">태그목록</a>
                        <a class="nav-link" href="/admin/purchases">매입관리</a>
                        <a class="nav-link" href="/admin/wishlist">좋아요 현황</a>
                    </nav>
                </div>

                <!--      --------------------------------------------------------------------------          -->
                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseCategories"
                   aria-expanded="false" aria-controls="collapseCategories">
                    <div class="sb-nav-link-icon"><i class="fa fa-hashtag" aria-hidden="true"></i></div>
                    카테고리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCategories" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/categories">카테고리목록</a>
                    </nav>
                </div>


                <!--      --------------------------------------------------------------------------          -->

                <a class="nav-link collapsed" href="/admin/service/" data-bs-toggle="collapse"
                   aria-expanded="false" th:onclick="|location.href='/admin/services/'|">
                    <div class="sb-nav-link-icon" th:onclick="|location.href='/admin/services/'|">
                        <i class="fa fa-exclamation-circle" aria-hidden="true" th:onclick="|location.href='/admin/services/'|"></i>
                    </div>
                    고객서비스
                </a>

                <!--      --------------------------------------------------------------------------          -->
                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseReviews"
                   aria-expanded="false" aria-controls="collapseReviews">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-file-pen"></i></div>
                    상품평
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseReviews" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/review/review-policies">상품평정책</a>
                    </nav>
                </div>

                <!--      --------------------------------------------------------------------------          -->
                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseCoupons"
                   aria-expanded="false" aria-controls="collapseCoupons">
                    <div class="sb-nav-link-icon"><i class="fa fa-credit-card"></i></div>
                    쿠폰
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseCoupons" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/coupon/coupon-templates">쿠폰템플릿목록</a>
                        <a class="nav-link" href="/admin/coupons">쿠폰목록</a>
                        <a class="nav-link" href="/admin/coupon/coupon-policies">쿠폰정책</a>
                        <a class="nav-link" href="/admin/coupon/coupon-months">이달의 쿠폰</a>
                        <a class="nav-link" href="/admin/coupon/tier-coupons">등급 쿠폰</a>
                    </nav>
                </div>

                <!--      --------------------------------------------------------------------------          -->
                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseBookPubOrders"
                   aria-expanded="false" aria-controls="collapseBookPubOrders">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-clipboard-list"></i></div>
                    주문
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseBookPubOrders" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/orders/list">주문목록</a>
                        <a class="nav-link" href="/admin/orders/list/exchange">교환 신청목록</a>
                        <a class="nav-link" href="/admin/pricepolicies/shipping">배송비 정책 관리</a>
                        <a class="nav-link" href="/admin/pricepolicies/packaging">포장비 정책 관리</a>
                    </nav>
                </div>

                <!--      --------------------------------------------------------------------------          -->
                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapsePoints"
                   aria-expanded="false" aria-controls="collapsePoints">
                    <div class="sb-nav-link-icon"><i class="fa-sharp fa-solid fa-p"></i></div>
                    포인트
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePoints" aria-labelledby="headingTwo"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/points">포인트목록</a>
                    </nav>
                </div>

                <!--      --------------------------------------------------------------------------          -->

                <!--      --------------------------------------------------------------------------          -->
                <div class="sb-sidenav-menu-heading">문의</div>
                <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseInquiries"
                   aria-expanded="false" aria-controls="collapseInquiries">
                    <div class="sb-nav-link-icon"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
                    문의
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseInquiries" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/inquiries">상품문의</a>
                        <a class="nav-link" href="/admin/error-inquiries">불량상품 문의</a>
                        <a class="nav-link" href="/admin/personal-inquiries">1:1 문의</a>
<!--                        <a class="nav-link" href="layout-sidenav-light.html">1:1 채팅</a>-->
                    </nav>
                </div>
            </div>
        </div>


        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            BookPub Admin
        </div>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

</body>
</html>