<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>BookPub</title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/css/admin/adminStyle.css">

    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="/static/css/coupon/couponTemplate.css">
</head>
<body class="sb-nav-fixed">

<div id="layoutSidenav">
    <th:block th:include="admin/fragments/adminHeader"/>
    <th:block th:include="admin/fragments/adminNavigationBar"/>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">쿠폰 목록</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">쿠폰목록 조회</li>
                </ol>

                <hr/>
            </div>

            <br/>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    쿠폰 목록
                </div>

                <form action="/admin/coupons" method="get" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <select name="searchKey">
                        <option value="">--검색 조건 선택--</option>
                        <option value="memberId">회원 아이디</option>
                        <option value="templateName">쿠폰 이름</option>
                        <option value="couponNo">쿠폰 번호</option>
                    </select>
                    <input class="form-control" type="text" name="search" placeholder="Search for..." aria-label="Search for..."
                           aria-describedby="btnNavbarSearch"/>
                    <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
                </div>
                </form>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>쿠폰 번호</th>
                            <th>소유자 아이디</th>
                            <th>쿠폰 이름</th>
                            <th>쿠폰 이미지</th>
                            <th>쿠폰 정책</th>
                            <th>쿠폰 만료일자</th>
                            <th>쿠폰 사용여부</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="coupon : ${couponList}">
                            <td th:text="${coupon.couponNo}"></td>
                            <td th:text="${coupon.memberId}"></td>
                            <td th:text="${coupon.templateName}"></td>
                            <td><img class="img-fluid"
                                     th:src="${coupon.templateImage}" alt="이미지 없음"/>
                            </td>
                            <td th:if="${coupon.policyFixed}" th:text="'정액/할인가:' + ${coupon.policyPrice} + '원/최소주문금액:' + ${coupon.policyMinimum} + '원/최대할인가격:' + ${coupon.maxDiscount} + '원'"></td>
                            <td th:unless="${coupon.policyFixed}" th:text="'정률/할인율:' + ${coupon.policyPrice} + '%/최소주문금액:' + ${coupon.policyMinimum} + '원/최대할인가격:' + ${coupon.maxDiscount} + '원'"></td>
                            <td th:text="${#temporals.format(coupon.finishedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${coupon.couponUsed}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!isPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/admin/coupons?(page=(${currentPage}-1))}">Previous</a>
                            </li>
                            <th:block th:with="start=${(currentPage/pageButtonNum)*pageButtonNum + 1}, end=(${(totalPages == 0) ?
                                 1 : (start + (pageButtonNum - 1) < totalPages ? start + (pageButtonNum - 1) : totalPages)})">
                                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}">
                                    <a class="page-link" th:href="@{/admin/coupons?(page=(${page-1}))}"
                                       th:text="${page}"></a></li>
                            </th:block>
                            <li class="page-item" th:classappend="${!isNext} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/admin/coupons?(page=(${currentPage}+1))}">Next</a>
                            </li>
                        </ul>
                    </nav>


                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/static/js/admin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/static/js/admin/chart-area-demo.js"></script>
<script src="/static/js/admin/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/static/js/admin/datatables-simple-demo.js"></script>
</body>
</html>